body,html {
    height: 100%;
    width: 100%;
    position: relative;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #353839;
    font-family: Arial, Helvetica, sans-serif;
}

.form {
    position: relative;
    min-height: 40%;
    max-width: 40%;
    padding: 0 1em;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    background: white;

    .form-header {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding: 1em 0;
        border-bottom: 1px solid #3538392d;
        
        .head {
            display: flex;
            align-items: center;
            
            img {
                height: 32px;
                width: 32px;
            }

            span {
                color: #333;
                font-size: 18px;
                font-weight: 500px;
                margin-left: 16px;
            }
        }

        .txt {
            margin-top: 16px;
            font-size: 12pt;
            font-weight: 200px;
            color: #333;
            line-height: 1.5;
        }
    }

    form {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding: 1em 0;

        label {
            margin: 0 0 .5em 0;
        }
        input {
            padding: .25em 0 .25em .5em;
            font-size: 16px;
            line-height: 2;
            border-radius: 6px;
            border: 1px solid #35383937;
            outline-color: #1a8ffc60;
        }
    }

    .btn {
        box-sizing: border-box;
        margin: 1rem 0 .5rem 0;
        font-size: 18px;
        padding: .25em 1.5em;
        border-radius: 6px;
        line-height: 2;
        border: 0;
        box-shadow: 0px 2px 10px -4px rgba(0, 0, 0, 0.7),
        0px 0px 3px 1px rgba(0, 0, 0, 0.021);
        font-size: 16px;
        font-weight: 500;
        letter-spacing: .1ch;
        background: #1a8ffc;
        color: white;
    }
}

.exit {
    position: absolute;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.18);
    height: 25px;
    width: 25px;
    border-radius: 100%;
    top: 12px;
    right: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgba(34, 33, 33, 0.5);
}
