.home {
    font-family: Arial, Helvetica, sans-serif;
    color: $font-clr-2;
    height: 100%;
    .dashboard__modal {
      padding-bottom: 0;
    }
  
    .db-res {
      padding-top: 20px;
      padding-bottom: 20px;
      display: flex;
      overflow: hidden;
      height: 100%;
      
      .col {
        width: 50%;
        display: flex;
        flex-direction: column;
        flex: 1;
        height: 100%;
      }
      .stat-widget {
        padding: 8px;
        width: 48%;
  
        &.l-stat .stat-container {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          padding: 8px;
          .panel-stat {
            align-self: flex-start;
            margin: 8px;
          }
          .btn-scan {
            @include widgetBorder();
            padding: 8px;
            margin-bottom: 8px;;
            white-space: nowrap;
            border-radius: 8px;
            background: #eee;
            background: #51cd5133;
            color: rgb(26, 111, 26);

          }
        }
      }
      .panel {
        position: relative;
        border-radius: 8px;
        overflow: hidden;
      }
  
      .control-panels {
        position: relative;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        padding-left: 8px;
        margin-top: 24px;
        margin-left: 16px;
        display: flex;
        flex-direction: column;
        flex: 1;
        .control-tab {
          .tab {
            display: inline-block;
            padding: 8px;
            padding-top: 0;
            width: 120px;
            margin-right: 12px;
            border-bottom: 1px solid #cccccc32;
            color: $font-clr-light;
            cursor: pointer;
  
            &.active {
              color: $font-clr-2;
              border-bottom: 1px solid #7a7a7a86;
            }
            &:hover {
              border-bottom: 1px solid #ccc;
            }
          }
        }
  
        .control-panel {
          position: relative;
          flex: 1;
          display: flex;
        }
        .panel {
          @include hide();
          padding-top: 18px;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          &.active {
            @include show();
  
          }
  
          &.app-settings {
            .btn-add-target,
            .btn-view-targets {
              background: #eee;
              padding: 4px 10px;
              border-radius: 8px;
              cursor: pointer;
              user-select: none;
            }
  
            .app-setting {
              display: flex;
              align-items: center;
              .setting {
                margin: 8px 4px;
              }
              .setting-value {
                position: relative;
              }
              &.target-setting {
                position: relative;
                &.scanning {
                  .target-input {
                    border: 1px solid transparent;
                  }
                  .bloom {
                    background-color: greenyellow;
                    box-shadow: 0 0 20px 3px rgb(127, 197, 21);
                  }
                  .progress-indicator {
                    background:conic-gradient(#39d239e4,#0ae80a5f,var(--success-green),lime);
                    animation: rotate 1500ms ease infinite paused both;
                    transform-origin: center;
                    @keyframes rotate {
                      0% {
                        transform: rotate(360deg)
                      }
                      100% {
                        transform: rotate(0deg)
                      }
                    }
                    &::after {
                      position: absolute;
                      inset: 0;
                      content:"";
                      backdrop-filter: blur(10px);
                      background: rgba(255, 255, 255, 0.647);
                      border-radius: inherit;
                    }
                  }
                  .bloom-2 {
                    background-color: limegreen;
                    box-shadow: 0 0 20px 3px rgb(0, 255, 21);
                    animation: scan 350ms linear infinite running alternate;
                    transform-origin: center;
                    @keyframes scan {
                      0% {
                        transform: translateX(90%)
                      }
                      100% {
                        transform: translateX(0%)
                      }
                    }
                  }
                  .psuedo {
                    @include show();
                    .notify-scanning {
                      @include show();
                      animation-play-state: running;
                    }
                  }
                  
                }
                .input-container {
                  position: relative;
                  overflow: hidden;
                  border-radius: 4px;
                  z-index: 2;
                }
                .bloom,
                .bloom-2 {
                  position: absolute;
                  bottom: 6px;
                  height: 1px;
                  z-index: 1;
                }
                .bloom {
                  bottom: 6px;
                  width: 100%;
                }
                .bloom-2 {
                  bottom: 12px;
                  left: 0;
                  width: 50%;
                }
                .progress-indicator {
                  position: absolute;
                  inset:-1000px;
                  // background-color: #ccccccb2;
                  border-radius: 4px;
                }

                .setting-controls {
                  position: relative;
                  display: flex;
                  width: fit-content;
                }
                .psuedo {
                  background: white;
                  position: absolute;
                  inset: 0;
                  @include hide();
                }
                .setting-notification {
                  position: absolute;
                  left: 0;
                  inset: 0;
                  border-radius: 4px;
                  background-color: white;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  @include hide();
                  &.active {
                    @include show();
                  }
                  
                  &.notify-scanning {
                    border: 1px solid rgba(0, 255, 0, 0.219);
                    letter-spacing: 0.035em;
                    color: transparent;
                    background-image: linear-gradient(to right ,white,lime,var(--success-green));
                    background-size: cover;
                    background-position: 0 0;
                    background-clip: text;
                    z-index: 2;
                    animation: textHighlight 2000ms linear infinite paused both; /* Animate the background */
                  
                    @keyframes textHighlight {
                      0% {
                        background-position: 0 0; /* Start from the left */
                      }
                      50% {
                        background-position: 100px 0; /* Move to the right */
                      }
                      100% {
                        background-position: 0 0; /* Return to the left */
                      }
                    }
                  }
                }
              }
              .target-input {
                position: relative;
                border: 1px solid #ccccccb2;
                // border: 2px solid transparent;
                margin: 1px;
                border-radius: 4px;
                padding: 4px;
                outline: none;
                color: #444;
                background: white;
                // background: transparent;
                &:focus {
                  border: 1px solid #ccc;
                }

                &.scanning{
                  border: 1px solid transparent
                }
              }
            }
  
            .app-directive {
              padding: 8px;
              margin: 6px 4px;
              display: inline-flex;
              border: 1px solid #ccc;
              border-radius: 4px;
            }
          }
        }
      }
  
      .info-panels {
        display: flex;
        flex-wrap: wrap;
        background: white;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        padding-left: 8px;
        z-index: 100;
        overflow-x: visible;
  
        .panel {
          padding: 16px;
          padding-top: 10px;
          font-family: Arial, Helvetica, sans-serif;
          text-transform: capitalize;
          letter-spacing: 0.035em;
          margin-right: 8px;
          font-size: 16px;
          color: $font-clr-2;
          display: flex;
          height: 100%;
          width: 100%;
          align-items: start;
          flex-direction: column;
          border-radius: 12px;
          cursor: pointer;
          border: 1px solid rgba(132, 132, 132, 0.1);
          box-shadow: 0px 1px 3px 0px rgba(128, 128, 128, 0.092), -1px 0px 3px 0px rgba(128, 128, 128, 0.0392);
          box-shadow:  0px 0px 7px -4px rgba(27,31,35, 0.012),
            0px 0px 0px 0px rgba(27,31,35, 0.025),
            inset -2px 0px 1px 1px rgba(171, 171, 171, 0.012), inset -1px 0px 2px 0px rgba(189, 189, 189, 0.01),
            0px 1px 4px 0px rgba(27,31,35,.0125);
        }
      }
  
      .panel-stat {
        display: flex;
        flex-direction: column;
        .label {
          white-space: nowrap;
        }
      }
    }
    
    .recent-downloads,
    .recent-uploads {
      height: 500px;
      .title-header {
        transform: translateX(32px);
        color: $font-clr-light;
        padding-bottom: 16px;
      }
      .tab {
        width: 120px;
        color: #656565c5;
        cursor: pointer;
        border-bottom: 1px solid #cccccc32;
        margin-right: 12px;
        padding: 0 8px 8px;
        display: inline-block;
  
        &:hover {
          border-bottom: 1px solid #ccc;
        }
        &.active {
          color: #141415ab;
          border-bottom: 1px solid #7a7a7a86;
        }
      }
    }

    .status-widget {
        font-family: Arial, Helvetica, sans-serif;
        text-transform: capitalize;
        padding: 1.2rem;
        line-height: 1.56;
        .label {
          display: inline-block;
          min-width: 180px;
          margin-right: 20px;
        }
      }
      
      .panel .stat {
        display: block;
        font-size: 14px;
        margin-bottom: 2px;
        color: $font-clr-light;
        transform: translateX(2px);
      }
      
      .panel .label {
        display: block;
        margin-top: 6px;
        opacity: .97;
      }
      
      .panel .btn-update {
        position: absolute;
        border: 1px solid black;
        top: 100%;
      }
      
      .test-area {
        display: flex;
        flex-direction: column;
        flex: 1;
        padding: 8px;
        padding-left: 40px;
        position: relative;
        overflow-y: scroll;
        height: 100%;
        .sync-widget {
          position: relative;
          transition: 200ms ease;
          &.destroy {
            transform: translateX(-1000px);
            @include hide();
          }
        }
        .sync-widget .sync-success{
          position: absolute;
          inset: 0;
          background-color: var(--success-green);
          border-radius: inherit;
          color: #454545;
          font-family: Arial, Helvetica, sans-serif;
          font-size: 24px;
          letter-spacing: 0.0125rem;
          display: flex;
          justify-content: center;
          align-items: center;
          overflow: hidden;
          @include hide();
          .txt {
            transition: 300ms ease;
            transform: translateY(-1000%);
          }
          &.active {
            @include show();
            .txt {
              transform: translateY(0);
            }
          }
        }
        .recent-collection {
          position: relative;
          cursor: pointer;
          @include panel-shadow-1;
          transition: $transition-1;
          border-radius: 12px;
          margin: 16px 4px;
          margin-bottom: 48px;
          padding: 8px 16px;
          display: flex;
          width: 360px;
          flex-direction: column;
          .collection-info {
            display: flex;
            align-items: center;
            cursor: pointer;
          }
          .isSyncedContainer {
            display: flex;
            align-items: center;
          }
          .isSyncedControl {
            display: flex;
          }
          .control {
            position: absolute;
            width: 100%;
            height: 42px;
            left: 0;
            top: 100%;
            display: flex;
            justify-content: center;
      
            .loading-overlay {
              position: absolute;
              top:0;
              z-index: 100;
              height: 100%;
              width: 100%;
              background: linear-gradient(to right,white,var(--success-green));
              background-size: 200% 200%;
              background-attachment: fixed;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 12px;
              border: 2px solid transparent;
              animation: gradient 2s ease infinite;
              animation-play-state: paused;
              @include hide();
              @keyframes gradient {
                0% {
                  background-position: 0% 0%;
                }
                50% {
                  background-position: 50% 50%;
                }
                100% {
                  background-position: 0% 0%;
                }
              }
              &.active {
                animation-play-state: running;
                border: 2px solid rgba(0, 255, 0, 0.089);
                @include show();
              }
            }
            .opt {
              margin-top: 12px;
              margin-right:36px;
              letter-spacing: 0.025em;
              cursor: pointer;
            }
            .option-accept {
              color: rgba(4, 137, 4, 0.373);
              &:hover {
                color: var(--success-green)
              }
            }
            .option-ignore {
              color: rgba(126, 9, 9, 0.405);
            }
            .opt.option-ignore:hover {
              color: rgb(128, 0, 68)
            }
            .opt.opt-view {
              color: #338ce6;
              &:hover {
                color: lightblue;
              }
            }
            .opt.opt-remove {
              color: rgba(255, 0, 0, 0.498);
              &:hover {
                color: rgb(133, 49, 49);
              }
            }
          }
          .sample {
            display: flex;
            flex-wrap: wrap;
            margin-top: 8px;
            svg {
              height: 18px;
              width: 18px;
            }
          }
        }
        .sample-icon {
          height: 20px;
          width: 20px;
          margin: 4px;
        }
      }
      .divider {
        fill: #8c8c8c;
      }
      .stat-sym.isSync {
        fill: rgba(43, 227, 43, 0.49);
      }
      .stat-sym{
        fill: rgba(248, 52, 3, 0.412);
      }
      .btn-sync {
        box-shadow: $shadow-panel;
        border: 1px solid #7878781c;
        padding: 8px 12px;
          margin-top: 20px;
          margin-left: 8px;
          font-size: 14px;
          border-radius: 8px;
          color: rgb(35, 83, 7);
          background: linear-gradient(to right,rgba(224, 255, 224, 0.2), rgba(228, 255, 228,.2));
      }
      
    .panel {
      position: relative;
    }
    .settings-overlay {
      background: white;
      // border: 1px solid red;
      position: absolute;
      top: 100%;
      height: 400px;
      // max-height: 100%;
      width: 100%;
      z-index: 100;
      @include modal();

      overflow: hidden;
      .file-targets {
        height: 100%;
        width: 100%;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        padding: 12px 0px;
        .file-target {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: 8px;
          border-radius: 6px;
        }
        .file-handle {
          padding: 8px;
          border-radius: 6px;
          border:1px solid #a8a8a861;
        }
        .ft-controls {
          margin: 0px 12px;
          display: flex;
          margin-top: 8px;
          .btn-ft {
            font-size: 14px;
            background: #eee;
            padding: 4px 8px;
            border-radius: 4px;
            margin: 0px 4px;
            cursor: pointer;
            user-select: none;
          }
        }
      }
    }
}
  

  