.dashboard__header {
  display: flex;
  flex-direction: column;
  position: relative;
  display: flex;     
  align-items: flex-end;
  justify-content: space-between;
  height: 112px;
  width: 100%;
  padding-top: 24px;
  padding-right: 64px;
  margin-left: 24px;

  .btn-filter,
  .btn-cancel {
    border: 1px solid rgba(128, 128, 128, 0.1771);
    font-family: Arial, Helvetica, sans-serif;
    padding: 4px 8px;
    border-radius: 8px;
    letter-spacing: 0.035em;
    opacity: .8;
    opacity: 0;
    color: rgba(20, 20, 21, .67);
    display: inline-flex;
    align-items: center;
    transition: color 400ms;
    margin-left: 12px;
    pointer-events: none;

    &.active {
      opacity: .8;
      pointer-events: all;
    }
    &:hover {
        box-shadow: -1px 0px 3px 0px rgba(128, 128, 128, 0.092), -1px 0px 3px 0px rgba(128, 128, 128, 0.0392);
        color: rgba(20,20,20,.82);
        svg {
            fill: rgba(20,20,20,.82);
        }
    }
    cursor: pointer;
    .icon {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .label {
        display: inline-flex;
        height: 100%;
        line-height: 100%;
        align-items: center;
        border-left: 1px solid rgba(128, 128, 128, 0.1771);
        padding-left: 8px;
        margin-left: 6px;
    }
  
    svg {
        height: 20px;
        width: 20px;
        fill: rgba(20, 20, 21, .67);
        transition: fill 400ms ease;
    }
  }
  .tool-bar{
    display: flex;
    width: 100%;
  }
  .panel-settings {
    display: flex;
    text-decoration: underline;
    text-decoration-color: #c8c8c8b1;
    text-wrap: nowrap;
    cursor: pointer;
    user-select: none;
    color: #323232b1;
    font-family: Arial, Helvetica, sans-serif;
    align-items: flex-end;
    @include hide();
    &.active {
      @include show();
    }
    .settings-icon {
      margin-left: 12px;
      stroke: #c8c8c8b1;
      display: flex;
      justify-content: center;
      align-items: center;
  }
    &:hover {
        color: #323232d2
    }
  }
  .info-bar,
  .nav-bar {
      display: flex;
      width: 100%;
      .divider { 
        margin-right: 4px;
      }
      .info-text {
        padding: 2px 0px;
        cursor: pointer;
      }
      .current-tab,.breadcrumb {
        margin-left: 8px;
        text-transform: capitalize;
        border-radius: 4px;
        padding: 2px 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: border 200ms ease, background 200ms ease;
        border-radius: 8px;
        background: #f7f7f71e;
        border: 1px solid #80808051;
        color: $font-clr-light;
        letter-spacing: .08em;
      }
      .breadcrumb {
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
        &.active {
          opacity: 1;
          pointer-events: all;
          visibility: visible;
        }
      }
  }
  .tool-bar {
      // justify-content: space-between;
      align-items: center;
      margin-bottom: 12px;
      .logo,.home {
        // border: 1px solid #9999994f;
        // position: absolute;
        height: 32px;
        width: 32px;
        border-radius: 12px;
        @include flex-center();
        // top: 10px;
        // left:8px;
        cursor: pointer;
        z-index: 10000;
        svg {
          scale: .9;
          height: 28px;
          width: 28px;
          fill: #5b5b5bad;
        }
      }
      .passive-search {
        z-index: 10000;
        transition: transform 350ms ease;
        // &.m-state {
        //   transform: translateX(108px);
        // }
      }
      .logo {
        margin-right: 4px;
        path:first-of-type {
          transition: 200ms ease;
          transform: translateX(-4px);
        }
        path:nth-of-type(2) {
          transition: 200ms ease;
          transform: translateX(-4px);
        }
        &:hover {
          // animation: 3s infinite alternate dancingMenu; 
          path:first-of-type {
            animation: staggerSlide 1000ms infinite alternate;
          }
          path:last-of-type {
            animation: staggerSlide 850ms infinite alternate;
            
          }
          path:nth-of-type(2) {
            animation: staggerSlide2 900ms ease infinite alternate;
          }
          @keyframes staggerSlide {
            0% {
                transform: translateX(-4px);
            }
            50% {
                transform: translateX(4px);
            }
            100% {
                transform: translateX(-4px);
            }
          }
          @keyframes staggerSlide2 {
            0% {
                transform: translateX(-4px);
            }
            25% {
                transform: translateX(-2px);
            }
            50% {
                transform: translateX(-4px);
            }
            100% {
                transform: translateX(4px);
            }
          }
        }
      }
  }
  .info-bar {
    // opacity: 0;
      padding-left:18px;
      font-family: Arial, Helvetica, sans-serif;
      letter-spacing: 0.035em;
      color: rgba(20, 20, 21, .3);
      cursor: default;

      .tab {
        border: 1px solid $border-light;
        @include flex-center();
        padding: 6px;
        margin-right: 8px;
        border-radius: 100%;
        svg {
          height: 16px;
          width: 16px;
        }
      }
      .tab {
        fill: #444;
      }
  }
}

.page-navigator {
    display: flex;
    align-items: center;
    .project {
      font-size: 14px;
      margin-left: 8px;
      margin-right: 16px;
  }
    &:hover {
        .p-counter{
            fill: rgba(20, 20, 21, .57)
        }.divider svg {
            stroke: rgba(20, 20, 21, .57)
        }
    }
    .p-counter {
        height: 14px;
    }
    .current-tab {
        margin: 0px 6px;
        padding: 4px 8px;
        background: white;
        border-radius: 8px;
        border: 1px solid rgba(128, 128, 128, 0.1771);
        color: rgba(20,20,20,.52);
        cursor: pointer;
        &:hover {
            color: rgba(20,20,20,.62);
            box-shadow: 1px 0px 2px 0px rgba(128, 128, 128, 0.082);
        }
    }
    .divider {
        display: flex;
        align-items: center;
        cursor: pointer;
        svg {
            height: 14px;
            width: 14px;
            stroke: rgba(20, 20, 21, .47)
        }
    }
    .p-counter {
        fill: rgba(20, 20, 21, .47)
    }
}
