.widget-wrapper.settings-interface {
    z-index: 1000;
    background: var(--background-main);
    padding-top: 12px;
    padding-bottom: 34px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    width: 380px;
    height: 100vh;
    .settings-modal {
      position: absolute;
      margin-top: 100px;

      @include hide();
      &.active {
        @include show();
        pointer-events: inherit;
      }
    }
    .settings-tabs {
      display: flex;
      padding: 8px 0px;
      padding-left: 8px;
      border-bottom: 1px solid #8787874a;
      .settings-tab {
        margin-right: 24px;
        color: #222222c7;
        cursor: pointer;
        &:hover,&.active {
          color: #222;
        }
      }
    }
    .viewbox-editor {
      position: relative;
      margin-bottom: 24px;
    }
    .position__inputs {
      padding: 20px 0;
    }
    .preset-header {
      top: 0px;
    }

    .current-collection {
      display: flex;
      border: 1px solid #8787874a;
      align-items: center;
      padding: 8px;
      color: #141414ac;
      border-radius: 8px;
      margin-bottom: 12px;
    }
    &.active {
      .interface-window{
        @include show();
      }
    }
    .widget-header {
      color: #1414154d;
      text-align: center;
      margin-bottom: 22px;
    }
    .interface-window {
      left: 0;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 300px;
      margin-right: 10px;
      position: relative;
      padding: 10px; 

    @include widgetBorder();

      .settings-controls {
        flex: 1;
        color: #323232f5;
          display: flex;
          flex-wrap: wrap;
          align-content: flex-start;
          margin-bottom: 4px;
          color: #1d1d1dcb;
          margin-left: 8px;
          .s-ctrl {
            @include panel-shadow-1;
            cursor: pointer;
            border: 1px solid #474747b7;
            letter-spacing: 0.025em;
            border-radius: 6px;
            margin: 4px;
            padding: 8px 12px;
            font-size: 14px;
            height: fit-content;
          }
        }
      .settings-module {
        margin-top: 12px;
        margin-bottom: 4px;
        color: #323232f5;
        padding-left: 10px;
        border-radius: 8px;
        .setting-preset-template {
            color: #323232f5;
            display: inline-block;
            padding-right: 52px;
            padding-top: 30px;
            border-radius: 8px;
            padding-bottom: 30px;
            .title-header {
              font-size: 14px;
              padding-bottom: 8px;
              border-bottom: $shadow-border;
              margin-bottom: 12px;
              color: $font-clr-light;
            }
            .preset-name {
              white-space: nowrap;
            }
            .create-new {
              display: inline-flex;
              align-items: center;
              margin: 0px 4px;
              stroke: var(--green);
              padding: 4px 8px;
              margin: 6px 0px;
              margin-top: 10px;
              border-radius: 4px;
              border: 1px solid #7b7b7b88;
              cursor: pointer;
            }
            .tggle-next,
            .tggle-prev {
              display: flex;
              justify-content: center;
              align-items: center;
              border: 1px solid transparent;
              margin: 0px 2px;
              border-radius: 2px;
              transition: 200ms ease;
              &:hover {
                border: 1px solid #656565c5;
              }
            }
            .ttl {
              display: inline-flex;
              padding: 4px 8px;
              border-radius: 4px;
              border: 1px solid #7b7b7b88;
              cursor: pointer;
            }
            .create-icon {
              display: flex;
              justify-content: center;
              align-items: center;
              margin: 0px 4px;
            }
            .setting-label {
              margin-bottom: 2px;
            }
    
            .row.position {
              margin-top: 8px;
              margin-bottom: 8px;
              margin-right: 8px;
              display: flex;
              .x,.y {
                display: flex;
                flex-direction: column;
                align-items: center;
                .setting-label{
                  display: inline-flex;
                  justify-content: center;
                  align-items: center;
                  width: 20px;
                  margin-bottom: 2px;
                }
                margin-right: 4px;
                margin-left: 4px;
                &.y {margin-left: 8px;}
                .setting {
                  width: 30px;
                  height: 28px;
                  padding: 0;
                  color: transparent;
                }
              }
            }
            .row.dimensions {
              margin-top: 16px;
              .block {
                display: flex;
                width: 50px;
                flex: 0;
                flex-shrink: 1;
                flex-direction: column;
                margin-right: 16px;
                input.dimension{
                  display: flex;
                  width: 100%;
                  padding: 4px 8px;
                  color: #656565c5;
                  border-radius: 4px;
                  border: 1px solid #7b7b7b88;
                  outline: none;
                  flex-shrink: 1;
                }
              }
              .setting-label.width {
                width: 50px;
              }
              .setting {
                display: inline-flex;
                justify-content: center;
                width: fit-content;
                margin-top: 4px;
                padding: 4px 8px;
                color: #656565c5;
              }
            }
            .ilabel,.elabel {
              margin-top: 16px;
              margin-bottom: 8px;
              .setting-label{
                white-space: nowrap;
              }
              .setting{
                width: 100%;
              }
            }
            .setting-label{
              display: inline-block;
              width: 70px;
            }
            .box {
              height: 20px;
              margin: 0px 2px;
              width: 20px;
              border: 1px solid #cccccc91;
              display: inline-block;
              border-radius: 4px;
            }
            .setting {
              display: flex;
              color: rgba(0, 0, 0, 0.236);
              border: 1px solid #cccccc91;
              display: inline-block;
              width: 100px;
              padding: 4px;
              padding-left: 12px;
              border-radius: 6px;
                &.vb {
                  display: flex;
                  width: 100%;
                  padding-left: 2px;
                  padding-right: 2px;
                  .vb-setting {
                    display: inline-flex;
                    width: 30px;
                    height: 28px;
                    border: 1px solid transparent;
                    border-radius: 4px;
                    overflow: hidden;
                    input {
                      height: 100%;
                      width: 100%;
                      text-align: center;
                      vertical-align: middle;
                      border: none;
                      outline: none;
                      color: #404040c5;
                      &::placeholder {
                        color: transparent;
                      }
                    }
                    &:hover {
                      border: 1px solid rgba(0, 0, 0, 0.184);
                      input::placeholder {
                        color: blue;
                      }
    
                    }
                    & input:focus::placeholder {
                      color: blue;
                    }
                  }
                }
              }
              &.dimension-settings {
                max-height: 300px;
                .display {
                  height: 0;
                }
                .module-content {
                  flex: 1;
                }
              }
              .module-header {
                border-bottom:1px solid #1414140d;
                color:#323232c7;
                padding-left: 8px;
              }
              .module-content {
                padding: 4px;
                display: flex;
                flex-direction: column;
                font-size: 14px;
                & > span {
                  margin-top: 2px;
                }
              }
        }
      }
    }
}

.settings-open {
  transform: translateX(2000px)
}

// canvas container
.editor-wrapper {
  display: flex;
}
// color settings buttons
.editor-actions {
  padding: 8px;
  display: flex;
  flex-direction: column;
  .editor-action {
      cursor: pointer;
      font-size: 14px;
      color:#2a2929f0;
      padding: 4px 6px;
      @include widgetBorder();
      margin-bottom: 8px;
  }
}

// canvas etc...
.collection-color-picker {
  background: white;
  z-index: 100;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
  margin-bottom: 16px;
  border-radius: 10px;
  border: 1px solid $border-light;
  width: max-content;
  @include widgetBorder();
  --canvas-height: 100px;
  --canvas-width: 150px;
  --container-width: 170px;
  .cp-canvas {
      position: relative;
      display: flex;
      width: var(--container-width);
      .canvas {
          --hue: var(--current-hue);
          height: var(--canvas-height);
          width: var(--canvas-width);
          position: relative;
          background: hsla(var(--hue), 100%, 50%);
          border-radius: 4px;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          &:before {
              content: "";
              position: absolute;
              z-index: 1;
              inset: 0;
              background: linear-gradient(to right, white 0%, rgba(255,255,255,0) 100%);
          }
          &:after {
              content: "";
              position: absolute;
              z-index: 2;
              inset: 0;
              background:linear-gradient(to bottom, rgba(0,0,0,0) 0%, black 100%);
          }
          .cp-canvas--pointer {
              --x: 0;
              --y: 0;
              position: absolute;
              height: 16px;
              width: 16px;
              border-radius: 50%;
              z-index: 100;
              background: var(--current-color);
              border: 1px solid white;
              transform: translate(calc(var(--x) - 8px),calc(var(--y) - 8px));
              height: calc(var(--cp--width) * .08 + 4px);
              width: calc(var(--cp--width) * .08 + 4px);
              border: 1px solid #0000;
              box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.253), -.125em 0 .25rem #0000002c, inset 1px 0 0 -1px #00000006, inset 0 0 5px #e8e8e828, inset 0 0 2px #00000008;
              aspect-ratio: 1;
          }
      }
      .hue-bar {
          border: 1px dotted blue;
          height: var(--canvas-height);
          width: 20px;
          position: relative;
          background-color: black;
          background: -moz-linear-gradient(top, #fa1e1e, #fa431e, #fa681e, #fa8c1e, #fab11e, #fad61e, #fafa1e, #d6fa1e, #b1fa1e, #8cfa1e, #68fa1e, #43fa1e, #1efa1e, #1efa43, #1efa68, #1efa8c, #1efab1, #1efad6, #1efafa, #1ed6fa, #1eb1fa, #1e8cfa, #1e68fa, #1e43fa, #1e1efa, #431efa, #681efa, #8c1efa, #b11efa, #d61efa, #fa1efa, #fa1ed6, #fa1eb1, #fa1e8c, #fa1e68, #fa1e43, #fa1e1e);
          background: -webkit-linear-gradient(bottom, #fa1e1e, #fa431e, #fa681e, #fa8c1e, #fab11e, #fad61e, #fafa1e, #d6fa1e, #b1fa1e, #8cfa1e, #68fa1e, #43fa1e, #1efa1e, #1efa43, #1efa68, #1efa8c, #1efab1, #1efad6, #1efafa, #1ed6fa, #1eb1fa, #1e8cfa, #1e68fa, #1e43fa, #1e1efa, #431efa, #681efa, #8c1efa, #b11efa, #d61efa, #fa1efa, #fa1ed6, #fa1eb1, #fa1e8c, #fa1e68, #fa1e43, #fa1e1e);
          background: linear-gradient(to bottom, #fa1e1e, #fa431e, #fa681e, #fa8c1e, #fab11e, #fad61e, #fafa1e, #d6fa1e, #b1fa1e, #8cfa1e, #68fa1e, #43fa1e, #1efa1e, #1efa43, #1efa68, #1efa8c, #1efab1, #1efad6, #1efafa, #1ed6fa, #1eb1fa, #1e8cfa, #1e68fa, #1e43fa, #1e1efa, #431efa, #681efa, #8c1efa, #b11efa, #d61efa, #fa1efa, #fa1ed6, #fa1eb1, #fa1e8c, #fa1e68, #fa1e43, #fa1e1e);
          border-radius: 2px;
          border: 0;
          justify-content: center;
          display: flex;    
          border: 1px solid #0000001f;  
          border-top-left-radius: 0;
          border-bottom-left-radius: 0px;
          border-bottom-right-radius: 0px;
          border-top-right-radius: 10px;
          .hue-thumb {
              --layer: linear-gradient(-60deg, white, #f0f0f0 70%);
              height: calc(var(--cp--width) * .08 + 4px);
              aspect-ratio: 1;
              box-sizing: border-box;
              background: #fff;
              background: #f9f9f9;
              border: 1px solid #0000;
              border-radius: 50%;
              position: absolute;
              width: 20px;
              box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.205), -.125em 0 .25rem #0000003f, inset 1px 0 0 -1px #00000006, inset 0 0 5px #e8e8e828, inset 0 0 2px #00000008;
          }
          &::after {
              inset: -10px;
              position: absolute;
              top: -10px;
              left: -10px;
              content: "";
              z-index: -1;
              border-radius: 8px;
          }
      }
  }
  .cp-inputs {
      width: var(--container-width);
      .preview-color {
          --background: #8080801a;
          height: 20px;
          width: var(--container-width);
          background-color: var(--background);
          border-left: 1px solid #ccc;
          border-right: 1px solid #ccc;
      }
      .hex-input {
          // margin-top: 2px;
          height: 24px;
          background-color: #ddd;
          display: flex;
          width: var(--container-width);
          border-left: 1px solid #ccc;
          justify-content: space-between;
          border-bottom-right-radius: 8px;
          border-bottom-left-radius: 8px;
          border-right: 1px solid #ccc;
          border-bottom: 1px solid #ccc;
          overflow: hidden;
          
          .input-controls {
              display: flex;
          }
          .btn-hex {
              position: relative;
              display: flex;
              justify-content: center;
              align-items: center;
              width: 24px;
              padding: 2px;
          }
          .input {
              width: calc(var(--container-width) - 48px - 8px);
              // flex:1;
              input {
                  // box-shadow: 0 0 8px -1px #29292959, 0 0 2px 1px #1414142f;
                  border: none;
                  height: 100%;
                  outline: none;
                  padding-left: 10px;
                  color: #676767;
                  &.invalid {
                      color: #ed6e6e;
                  }
              }
          }
          .canvas-copy {
              // box-shadow: 0 0 8px -1px #29292959, 0 0 2px 1px #1414142f;
              display: flex;
              justify-content: center;
              align-items: center;
              background-color: white;
              cursor: pointer;
          }
          .canvas-copy,.like-color{
              border-left: 1px solid #1e01013c;
              padding-top: 4px;
              transition: 200ms ease;
              cursor: pointer;
              &:hover {
                  background: #fafafa;
              }
          }

      }
    }
}

// fullscreen color settings
.color-editor {
  margin-top: 10px;
  color: #141414ac;
  .colorset-modals {
      height: 100%;
      flex-grow: 1;
      margin-bottom: 12px;
      display: flex;
      position: relative;
      top: 0;
      bottom: 0;
  }
  .editor-value-container.active {
    border: 1px solid #8787874a;
    background-color: #f9f9f9;
  }
  .color-group-label {
    display: flex;
    border: 1px solid #8787874a;
    align-items: center;
    padding: 8px;
    color: #141414ac;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-radius: 8px;

  }
  .color-group,.editor-value-container {
    display: flex;
    margin: 0px 2px;
  }

  .color-group {
    padding: 8px;
    justify-content: space-between;
    justify-content: flex-start;

    &.current-palette {
      padding-left: 0px;
    }
  }
  .editor-value-container {
    @include widgetBorder();
    padding: 6px 8px;
    border-radius: 4px;
    margin-right: 24px;
  }
  .cEdit-label {
    cursor: pointer;
    margin-right: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cEdit-icon {
    width: 24px;
    height: 20px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
    margin-left: 16px;
    @include widgetBorder();
    svg {
        height: 20px;
        width: 20px;
    }
    &:hover {
      cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><g stroke="%23000" stroke-width="1" stroke-linejoin="round"><path fill="%23FFF" d="m4 16-1 5 5-1 6-6-4-4-6 6z"></path><path fill="%23000" d="M19 5a2.84 2.84 0 0 0-4 0l-3 3-1-1c-.55-.55-1.45-.55-2 0s-.55 1.45 0 2l1 1 4 4 1 1c.55.55 1.45.55 2 0s.55-1.45 0-2l-1-1 3-3c1.1-1.1 1.1-2.9 0-4Z"></path></g></svg>') 12 12, auto;
    }
  }
}
// mini color picker toolbar
.color-toggler {
  display: flex;
  align-items: center;
  width: fit-content;
  // flex: 1;
  border:1px solid #8787874a;
  border-radius: 8px;
  margin-top: 12px;
  .color-group-label {
      white-space: nowrap;
      color:#141414ac;
  }
  & .mode-toggle,
  & .preset-toggle {
      padding: 8px;
      border-radius: 8px;
  }

  &.preset-toggler,
  &.current-mode-toggler {
      padding: 2px 8px;
      .color-group-label {
          margin-right: 64px;
      }
  }
  &.preset-toggler .color-group-label,
  &.current-mode-toggler .color-group-label{
      margin-right: 64px;
  }
  .color-toggle {
      margin: 0px 8px;
      border:1px solid #8787874a;
      cursor: pointer;
      white-space: nowrap;
      color:#141414c4;
      position: relative;
  }
}
.current-mode-toggler {

  .tggle-mode {
      position: absolute;
      top: 0;
      &.tggle-next {
          right: 0;
      }
      &.tggle-prev {
          left: 0;
      }
  }
} 
.background-toggler {
  display: flex;
  align-items: center;
  flex: 1;
  padding: 8px;
  border:1px solid #8787874a;
  border-radius: 8px;
  .color-group-label {
      white-space: nowrap;
      color:#141414ac;
  }

  .bg-toggle {
      margin: 0px 8px;
      border:1px solid #8787874a;
      cursor: pointer;
      white-space: nowrap;
  }

  .bg-toggle {
      height: 26px;
      width: 26px;
      border-radius: 4px;
      margin: 0px 8px;
      border:1px solid #8787874a;
      cursor: pointer;
      &.toggle-default {
          background: #fff;
      }
      &.toggle-dark {
          background: var(--darkmode-background);
      }
      &.toggle-neutral {
          background: var(--background-neutral)
      }
  }
}

// viewbox settigns buttons
.collection-settings-controller {
  margin-top: 32px;
  // display: flex;
  // flex-direction: column;
  // justify-content: flex-end;
  .btn-apply {
      &:first-of-type {
          margin-right: 12px;
      }
      &.save-colorset {
          background: #1bd261;
          color: #222;
          &:hover {
              background: #70f09f;
              color: #444
          }
      }
      &.preview-colorset {

      }
      margin: 8px 12px;
      border-radius: 6px;
      border:1px solid #87878727;
      text-transform: capitalize;
      color: #444;
      letter-spacing: .035em;
      cursor: pointer;
      background: #1414140d;
      justify-content: center;
      align-items: center;
      padding: 6px 0;
      transition: background .12s;
      display: flex;
      // background: #14141452;
      color: #222;

      &:hover {
          background:#14141428;
      }
      &.disabled {
        cursor:not-allowed;
        &:hover {
          background: #14141452;
        }

      }
  }
}