// MAIN CONTAINER
@import './header';
@import './search';

.dashboard {

    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex:1;
    // margin-left: 72px; // sidebar width
    margin-right: 8px;
    margin-right: 30px;
}
.dashboard .content-wrapper {
    padding: 24px;
}

.dashboard__modal {
        position: absolute;
        height: 520px;
        top: 120px;
        margin-bottom: 64px;
        padding-bottom: 112px;
        transition: transform 200ms ease-in-out, opacity 150ms cubic-bezier(0.075, 0.82, 0.165, 1);
        width: 100%;
        margin: 0;
        &.active {
            visibility: visible;
            pointer-events: all;
            opacity: 1;
        }
}

.db-res,.search-cosm {
    position: absolute;
    inset: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    overflow-y: scroll;
    padding-left: 24px;

    background-color: white;
    opacity: 0;
    pointer-events: none;
  
    &.active {
      opacity: 1;
      pointer-events: all
    }
  

}

.db-overlay {
    margin: 10px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.7);
    height: 700px;
    border: 1px dotted #0000ff;
}
