:root {
    --interface_border_shape_modern: 60%;
    --interface_border_shape_default: 4px;
}
html {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    position: relative;
    height: 100%;
    width: 100%;
    background: rgb(20, 20, 21);
    display: flex;
    justify-content: center;
    align-items: center;
}

.interface,.collections_interface {
    position: relative;
    height: 732px;
    min-width: 363px;
    border-radius: 32px;
    /* box-sizing: border-box; */
    overflow: hidden;
    padding: 0 1em;
    user-select: none;
}

.interface .display {
    background: inherit;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    /* box-shadow: 0px 4px 8px 2px rgba(128, 128, 128, 0.192); */
}

.collections_interface li {
    box-sizing: border-box;
    list-style-type: none;
    height: 80px;
    width: 300px;
    margin: 40px 8%;
    border-radius: 12px;
    padding: 1em;
    box-shadow: inherit;
    cursor: pointer;
    background: lightgrey;
}

/* .collections_interface .btn-back {
    position: absolute;
    bottom: 48px;
    color: blue;
    background: grey;
    height: 40px;
    width: 180px;
    cursor: pointer;
} */

[data-role="interface_modal"][data-state="inactive"] {
    display: none;
}

.display svg {
    position: relative;
    height: 102px;
    width: 102px;
    z-index: 4;
}

.icon__description {
    position: absolute;
    bottom: calc(100% - 8px);
    left: 8px;
    width: 100%;
    height: 64px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: .18ch;
    opacity: .8;
    /* background: black; */
}

.icon__description .name {
    font-weight: 700;
    font-size: 24px;
}
.icon__description .category {
    margin-left: 4px;
    margin-top: 4px;
    font-size: 16px;
}
/* ------------------------------------------ */
/* CONTROLS */
/* ----------------------------- */
.interface .controls {
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    /* padding: 0 16%; */
    position: relative;
    /* background: linear-gradient(to bottom, rgb(234, 234, 234), grey); */
    height: 60%;
    box-sizing: border-box;
    padding: 1em;
    font-family: Arial, Helvetica, sans-serif;
    /* transform: translateY(10%); */
    /* border-top: 1px solid rgba(0, 0, 0, 0.0823); */
}
.tab_section {
    padding-top: .5em;
    padding-left: 4px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.25em;
}
.tab_section span {
    cursor: pointer;
    opacity: .5;

}
.tab_section span.active {
    opacity: .726;
    border-bottom: 1px solid black;
}

.modal_container {
    position: absolute;
    right: 0;
    top: 4em;
    width: 100%;
    height: 60%;
    overflow-y: scroll;
    overflow-x: hidden;
    /* height: 80%; */
    /* background: rgb(252, 252, 252); */
    border-radius: 32px;
    box-sizing: border-box;
    padding: 1em;
}
.modal_container [data-role="interface_menu"] {
    position: relative;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}
/* .modal_container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1em;
    background: inherit;
    z-index: 100;
} */
.controls .slider {
    margin: 16px 0 16px 16px;
    display: flex;
    flex-direction: column;
}
.slider .label {
    font-size: 14px;
    font-weight: 700;
    font-style: italic;
    color: rgba(51, 51, 51, 0.697);
}
.slider .toggler {
    position: relative;
    margin-top: 16px;
    height: 12px;
    width: 90%;
    border-radius: 32px;
    background: rgba(51, 51, 51, 0.052);
}
.toggler .toggle_button {
    position: absolute;
    top: -6px;
    left: -2px;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.137);
    height: 24px;
    width: 24px;
    border-radius: 100%;
    background: rgb(145, 145, 145);
    cursor: pointer;
    /* transition: all 1.7ms linear; */
}

[data-role="interface_menu"][data-state="active"] {
    transform: translateX(0);
    opacity: 1;
}
[data-role="interface_menu"][data-state="inactive"] {
    opacity: 0;
    display: none;
}

.controls::after {
    content: "";
    height: 1px;
    width: 90%;
    background: rgba(0, 0, 0, 0.105);
    position: absolute;
    top: 12px;
    left: 5%;
}

.controls .toggle_btns {
    display: flex;
    width: calc(40px * 2);
    height: 32px;
    /* background: black; */
    position: absolute;
    /* right: 16px; */
    /* top: 64px; */
    right: 0;
    bottom: 100%;
}

.copy {
    transform: scale(.9)
}

.a2c, .collections_interface .btn-back {
    /* margin-left: 1em; */
    position: absolute;
    bottom: 1em;
    left: 14%;
    /* margin-top: 3em; */
    width: 180px;
    padding: .5em 1.5em;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(251, 148, 89, 0.912);
    border-radius: 32px;
    color: rgba(20, 20, 21, 0.845);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    letter-spacing: .15ch;
    cursor: pointer;
    box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.2056);
                /* 0px 0px 40px 2px rgba(0, 0, 0, 0.0826); */
}

/* .a2c {
    position: absolute;
    width: 180px;
    height: 60px;
    display: flex;
    align-self: flex-end;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right, rgb(75, 185, 102), rgba(11, 230, 88, 0.744));
    box-sizing: border-box;
    border-radius: 16px;
    padding: 1.5em 1em;
    margin-bottom: calc(10% + 32px);
    left: 25%;
    font-family: Arial, Helvetica, sans-serif;
} */
/* .toggle_btns div {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.095);
    border-radius: 50%;
    height: 36px;
    width: 36px;
    margin: 12px 0;
} */

/* .toggle_btns::after {
    content: "";
    position: absolute;
    background: white;
    top: 100%;
    left: 0;
    height: 100%;
    width: 100%;
}

.toggle_btns div {
    cursor: pointer;
    transform: translateY(120%);
    transition: 200ms ease;
}

.interface:hover .toggle_btns div {
    transform: translateY(0);
} */

.toggle_btns svg {
    opacity: .6;
    margin: 0 8px;
    height: 20px;
    width: 20px;
}
/* CONTROL INTERFACE SHAPE */
.interface .controls.modern {
    border-radius: 0;
    border-top-left-radius: 60%;
}
.interface .controls.default {
    border-radius: 6px;
}

/* CONTROL INTERFACE COLOR */
.interface.light {
    background: white;
}
/* .interface.light .controls {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.764), rgba(128, 128, 128, 0.229));
    box-shadow: 0px -4px 8px 2px rgba(128, 128, 128, 0.192);
} */


/* 
    body {
        background: rgb(20, 20, 21);
    }
*/

/* .interface.dark {
    background: rgb(207, 207, 207);
}

.interface.light .display {
    z-index: 10;
    box-shadow: 0px 4px 58px 12px rgba(207, 207, 207, 0.3);
}
.interface.dark .controls {
    border-radius: 0;
    background: black;
} */

.animation_list {
    display: flex;
    flex-direction: column;
}

.animation_list .list-header {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: .015ch;
    /* font-style: italic; */
    margin: 8px 0;
    /* background:rgba(207, 207, 207, 0.308); */
    color: rgba(34, 34, 34, 0.918);
    /* border-radius: 4px; */
    /* padding-left: 4px; */
    border-bottom: 1px solid rgba(51, 51, 51, 0.116);
}

.animation_list .list-item {
    font-size: 18px;
    margin: 8px 0;
    font-weight: 500;
    color: #333;
    cursor: pointer;
}
/* .animation__list span {
    display: block;
    width: 100%;
} */
.test {
    font-size: 24px;
    color: black;
    position: absolute;
}
.dist {
    color: red;
}