
.preview-color,.pv-preview-color {
    @include colorDropperIcon();
}

.icon-color-editor {
    .color-data {
        margin-top: 2px;
        padding-top: 12px;
        padding-bottom: 24px;
        padding-left: 4px;
        padding-right: 4px;
        width: 100%;
        position: absolute;
        height: 100%;
        overflow-y: scroll;
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        transition: all 200ms ease;
        &.active {
          opacity: 1;
          pointer-events: inherit;
          visibility: visible;
        }
    }
    .colorset-data,
    .colorset-colors {
        display: flex;
    }
    .colorset-data {
        margin: 8px 0px;
        .preset-type {
            margin-left: 8px;
            text-transform: capitalize;
        }
    }
    .preset-val {
        display: flex;
        align-items: center;
        .p-label {
            width: 60px;
        }
    }
    .gf-reflector {
        margin: 0px 8px 0px 2px;
        height: 24px;
        width: 24px;
        border: 1px solid #cccccc44;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .colorset-controls {
        margin: 16px 0px;
        border: 1px solid #ccc;
        padding: 8px 12px;
        border-radius: 8px;
        cursor: pointer;
        transition: 200ms ease;
        &:hover {
            background: #efefef;
        }
    }
    .colorset {
        display: flex;
        flex-direction: column;
    }
}
.color-picker {
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transform: translateY(8px);
  transition: transform 200ms ease;
  &.active {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
      transition: transform 200ms ease, opacity 100ms ease;
  }

  position: absolute;
  left: -270px;
  background: white;
  z-index: 100;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
  margin-left: 10px;
  padding: 16px;
  padding-top: 0;
  box-shadow: 0px 1px 6px 0px rgba(175, 175, 175, 0.417),0 0 20px -10px #13131359;
  margin-bottom: 16px;
  border-radius: 10px;
  border: 1px solid $border-light;
  .cp-header {
    padding: 6px 0px;
    justify-content: flex-end;
    display: flex;
    .cp-close {
        display: inline-flex;
        color: #1414148a;
        z-index: 100;
        cursor: pointer;
        border-radius: 4px;
        padding: 0 10px;
        font-size: 14px;
        transition: color .2s;
    }
  }

  .canvas {
      --hue: var(--current-hue);
      height: 120px;
      width: 180px;
      height: 159px;
      width: 200px;
      position: relative;
      background: hsla(var(--hue), 100%, 50%);
      border-radius: 4px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      &:before {
          content: "";
          position: absolute;
          z-index: 1;
          inset: 0;
          background: linear-gradient(to right, white 0%, rgba(255,255,255,0) 100%);
      }

      &:after {
          content: "";
          position: absolute;
          z-index: 2;
          inset: 0;
          background:linear-gradient(to bottom, rgba(0,0,0,0) 0%, black 100%);
      }
      
      .cp-canvas--pointer {
          --x: 0;
          --y: 0;
          position: absolute;
          height: 16px;
          width: 16px;
          border-radius: 50%;
          z-index: 100;
          background: var(--current-color);
          border: 1px solid white;
          transform: translate(calc(var(--x) - 8px),calc(var(--y) - 8px));
          height: calc(var(--cp--width) * .08 + 4px);
          width: calc(var(--cp--width) * .08 + 4px);
          border: 1px solid #0000;
          box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.253), -.125em 0 .25rem #0000002c, inset 1px 0 0 -1px #00000006, inset 0 0 5px #e8e8e828, inset 0 0 2px #00000008;
          aspect-ratio: 1;

      }

  }
  .cp-canvas {
      position: relative;
      display: flex;
      max-width:220px;
  }
  .cp-inputs {
    width: 220px;
    border-bottom: 1px solid #ccc;
  }
  .hue-bar {
      border: 1px dotted blue;
      width: 19px;
      height: 100%;
      height: 159px;
      flex: 1;
      position: relative;
      background-color: black;
      background: -moz-linear-gradient(top, #fa1e1e, #fa431e, #fa681e, #fa8c1e, #fab11e, #fad61e, #fafa1e, #d6fa1e, #b1fa1e, #8cfa1e, #68fa1e, #43fa1e, #1efa1e, #1efa43, #1efa68, #1efa8c, #1efab1, #1efad6, #1efafa, #1ed6fa, #1eb1fa, #1e8cfa, #1e68fa, #1e43fa, #1e1efa, #431efa, #681efa, #8c1efa, #b11efa, #d61efa, #fa1efa, #fa1ed6, #fa1eb1, #fa1e8c, #fa1e68, #fa1e43, #fa1e1e);
      background: -webkit-linear-gradient(bottom, #fa1e1e, #fa431e, #fa681e, #fa8c1e, #fab11e, #fad61e, #fafa1e, #d6fa1e, #b1fa1e, #8cfa1e, #68fa1e, #43fa1e, #1efa1e, #1efa43, #1efa68, #1efa8c, #1efab1, #1efad6, #1efafa, #1ed6fa, #1eb1fa, #1e8cfa, #1e68fa, #1e43fa, #1e1efa, #431efa, #681efa, #8c1efa, #b11efa, #d61efa, #fa1efa, #fa1ed6, #fa1eb1, #fa1e8c, #fa1e68, #fa1e43, #fa1e1e);
      background: linear-gradient(to bottom, #fa1e1e, #fa431e, #fa681e, #fa8c1e, #fab11e, #fad61e, #fafa1e, #d6fa1e, #b1fa1e, #8cfa1e, #68fa1e, #43fa1e, #1efa1e, #1efa43, #1efa68, #1efa8c, #1efab1, #1efad6, #1efafa, #1ed6fa, #1eb1fa, #1e8cfa, #1e68fa, #1e43fa, #1e1efa, #431efa, #681efa, #8c1efa, #b11efa, #d61efa, #fa1efa, #fa1ed6, #fa1eb1, #fa1e8c, #fa1e68, #fa1e43, #fa1e1e);

      border-radius: 2px;
      border: 0;
      justify-content: center;
      display: flex;    
      border: 1px solid #0000001f;  
      border-top-left-radius: 0;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-right-radius: 10px;
      .hue-thumb {
          --layer: linear-gradient(-60deg, white, #f0f0f0 70%);
          height: calc(var(--cp--width) * .08 + 4px);
          aspect-ratio: 1;
          box-sizing: border-box;
          background: #fff;
          background: #f9f9f9;
          border: 1px solid #0000;
          border-radius: 50%;
          position: absolute;
          width: 20px;
          box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.205), -.125em 0 .25rem #0000003f, inset 1px 0 0 -1px #00000006, inset 0 0 5px #e8e8e828, inset 0 0 2px #00000008;
      }

      &::after {
          inset: -10px;
          position: absolute;
          top: -10px;
          left: -10px;
          content: "";
          z-index: -1;
          border-radius: 8px;
      }
  }

  &.fill {
      left: -80px;
  }
  &.active {
      opacity: 1;
      pointer-events: all;
  }
  .preview-color {
      --background: #8080801a;
      height: 20px;
      width: 220px;
      background-color: var(--background);
  }
  .hex-input {
      height: 28px;
      background-color: #ddd;
      display: flex;
      width: 100%;
      border-left: 1px solid #ccc;
      input {
          border: none;
          height: 100%;
          width: 190px;
          outline: none;
          padding-left: 10px;
          color: #676767;
          &.invalid {
              color: #ed6e6e;
          }
      }
      .canvas-copy {
          border-bottom-right-radius: 4px;
          flex: 1;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: white;
          border-left: 2px solid #1e01013c;
          border-right: 1px solid #ccc;
          cursor: pointer;
          .icon {
              display: flex;
              justify-content: center;
              align-items: center;
          }
      }

  }
  .updater {
      padding-top: 10px;
      padding-left: 12px;
      padding-bottom: 8px;
      background-color: transparent;
      display: flex;
      .btn {
          background-color:  #e0e2e0;
          margin-right: 8px;
          border: 1px solid #ccc;
          padding: 2px 10px;
          border-radius: 4px;
          font-size: 15px;
          letter-spacing: 0.035em;
          text-transform: lowercase;
          box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.09);
          cursor: pointer;
          transition: 200ms ease;
          &:hover {
              background-color: #ccc;
          }
      }
  }
  .pv-action {
    margin-top: 4px;
    padding: 4px 8px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
    }
}
.path-extractor {
  overflow: scroll;
  .controls {
    padding: 0px 16px;
  }
  .pv-preview-color {
      height: 20px;
      border-bottom: 1px solid $border-light;
      border-top-left-radius: 10px;
      border-top-right-radius: 8px;
      border: 1px solid #8080801a;
  }
  .pv-updater {
      padding: 12px 22px;
      padding-top: 10px;
      padding-left: 0px;
      padding-bottom: 8px;
      background-color: transparent;
      display: flex;
     .btn {
        margin-right: 8px;
        white-space: nowrap;
        background-color: linear-gradient(#fbfbfb,white);
        border: 1px solid #c5c5c5;
        padding: 4px 10px;
        border-radius: 6px;
        font-size: 15px;
        letter-spacing: 0.035em;
        text-transform: lowercase;
        cursor: pointer;
        transition: 200ms ease;
        color: rgba(20, 20, 20, 0.743);
        &:hover {
            background-color: #f4f4f4;
        }
    }
  }
  .preview-color {
      height: 20px;
      border-bottom: 1px solid #ccc;
  }
  & .controls .hex-input {
    --container-width:230px;
      height: 28px;
      display: flex;
      width: var(--container-width);
      border-left: 1px solid #ccc;
      border-right: 1px solid #ccc;
      border-bottom: 2px solid #ccc;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      overflow: hidden;
      .pv-inp {
        width: calc(var(--container-width) - (24px * 4) - 2px)
      }
      .icon-label {
          width: 24px;
          border-bottom-right-radius: 4px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-left: 2px solid #1e01013c;
          cursor: pointer;
          svg {
              fill: #4d4d4d;
          }
          &.rotate {
            svg > g {
              transform: rotate(45deg);
              transform-origin: center;
            }
          }
          &.r-15 {
            svg > path {
              transform: rotate(15deg);
              transform-origin: center;
            }
          }
          &.r-n15 {
            svg > path {
              transform: rotate(-15deg);
              transform-origin: center;
            }
          }
      }
      .pv-inp input{
          border: none;
          height: 100%;
          outline: none;
          padding-left: 10px;
          color: #676767;
          &.invalid {
              color: #ed6e6e;
          }
      }
      .canvas-redo,
      .canvas-undo {
          border-bottom-right-radius: 4px;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          .icon {
              display: flex;
              justify-content: center;
              align-items: center;
              svg {
                  stroke: #4d4d4d;
                  fill: #4d4d4d;
              }
          }
      }
  }
  .markup-window {
      height: 200px;
      width: 320px;
      opacity: 0;
      overflow: scroll;
      padding: 10px 16px;
      font-size: 14px;
      line-height: 1.7;
      letter-spacing: 0.034em;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .path-data {
      width: 320px;
      overflow: scroll;
  }
  .attr-label {
      cursor: pointer;
  }
  .color-picker-icon {
      display: flex;
      align-items: center;
  }

  .picker-label {
      margin-right:8px;
  }

  .path-element {
      margin: 10px 0px;
      display: flex;
      align-items: center;
      border: 1px solid $border-light;
      display: flex;
      border-radius: 10px;
      padding: 8px;
      &[selected="true"] {
          .label {
              background-color: #ccc;
          }
      }
      .stroke-icon,
      .fill-icon {
          border-radius: 8px;
          padding: 8px 10px;
          border: 1px solid transparent;
      }
      .stroke-icon.selected,
      .fill-icon.selected {
          background-color: #f9f9f99e;
          border: 1px solid #ccc;
      }
      .picker-label.selected {
          background-color: #ccc;
      }
      .label {
          margin: 4px;
          margin-right: 12px;
          font-size: 14px;
          min-width: 60px;
          padding-top: 6px;
          padding-bottom: 6px;
          padding-left: 12px;
          padding-right: 12px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 4px;
      }
      .color-picker-icon {
          margin-right: 8px;
          font-size: 14px;
          letter-spacing: 0.05em;
      }
      .picker-element {
          width: 24px;
          height: 20px;
          border-radius: 2px;
          display: flex;
          justify-content: center;
          align-items: center;
          background: var(--background);
          svg {
              height: 20px;
              width: 20px;
          }
          &:hover {
            cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><g stroke="%23000" stroke-width="1" stroke-linejoin="round"><path fill="%23FFF" d="m4 16-1 5 5-1 6-6-4-4-6 6z"></path><path fill="%23000" d="M19 5a2.84 2.84 0 0 0-4 0l-3 3-1-1c-.55-.55-1.45-.55-2 0s-.55 1.45 0 2l1 1 4 4 1 1c.55.55 1.45.55 2 0s.55-1.45 0-2l-1-1 3-3c1.1-1.1 1.1-2.9 0-4Z"></path></g></svg>') 12 12, auto;
          }
      }
  }

  .hasCol {
      height: 24px;
      width: 24px;
      cursor: pointer;
      svg {
          display: none;
      }
  }
}
.color-save-menu {
    position: absolute;
    top: 0;
    left: -300px;
    width: 300px;
    border: 1px solid red;
    background: white;
    border-radius: 8px;
    @include widgetBorder();
    box-shadow:  0px 0px 10px 2px #00000016, 0 0 2px #0000001f;
    transform: translateY(100px);
    transition: 200ms ease;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    padding: 12px 8px;
    &.active {
        transform: translateY(0);
        @include show();
    }
    .btn-setting {
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 6px 8px;        
        margin: 8px 0px;
        cursor: pointer;
        color: #454545;
        &:hover {
            background-color: #eee;
        }
    }
    .colorset-data {
        margin: 4px 0px;
        cursor: pointer;
        padding: 4px 8px;
        border-radius: 4px;
        border: 1px solid transparent;
        &:hover,
        &.active {
            @include widgetBorder();
            background: #e9e9e9;
        }
        .p-label {
            color: #222222e4;
        }
        .p-val {
            color: #272727d8;
        }
        }
        &:first-of-type {
        margin-top: 0;
        }

        .cs-color-data {
            display: flex;
        }
        .cd-color-data {
            margin-bottom: 12px;
            flex-direction: column;
        }
        .colorset-data-colors,.cd-selector {
            display: flex;
        }
        .cd-selector {
            padding: 4px;
            align-items: center;
            justify-content: center;
            margin-top: 10px;
            margin-right: 12px;
            margin-left: 8px;
        }
        .cd-reflector {
            height: 24px;
            width: 24px;
            margin: 0px 6px;
            background-color: #f9f9f9;
            @include widgetBorder();
        }
}
.save-colorset-modal {
    position: absolute;
    top: 350px;
    left: -320px;
    background: white;
    z-index: 100;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
    background-color: #fff;
    width: 320px;
    border-radius: 10px;
    transition: 200ms ease;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0px 0px 10px 2px #00000027, 0px 0px 2px #0000001f;
    &.active {
      transform: translateY(-60px);
      opacity: 1;
      visibility: visible;
      pointer-events: all;
    }
    .save-opt {
      margin: 4px 16px;
      display: flex;
      .sub-opt {
        margin: 0px 4px;
      }
    }
    .preset-preview-element,
    .colorset-preview-element {
      position: relative;
      border: 1px solid #8787874a;
      background-color: #e4e4e40d;
      color: #222;
      padding: 8px 4px;
      padding-left: 12px;
      border-radius: 6px;
      margin-top:18px;
      margin-bottom: 10px;
      margin-left: 4px;
      margin-right: 4px;
      transition: all 500ms ease;
      min-height: 143px;
      min-width: 304px;
      &.deleted {
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
        height: 143px;
        width: 304px;
      }
      .preset-element-toast,
      .colorset-element-toast{
        position: absolute;
        z-index: 1000;
        overflow: hidden;
        height: 34px;
        width: 225px;
        border-radius: 2px;
        pointer-events: none;
        .toast {
          top: 0;
          left: 0;
          position: absolute;
          height: 100%;
          width: 100%;
          white-space: nowrap;
          transform: translateY(-100%);
          border-radius: inherit;
          display: flex;
          justify-content: center;
          align-items: center;
          &.success {
            background-color: var(--success-green);
            color: var(--font-clr__light)
          }
          &.failure {
            background-color: red;
          }
          &.delete {
            background-color: orangered;
          }
          &.info {
            background: #ccc;
            color: #222
          }
          &.clear {
            background-color: grey;
            color: whitesmoke;
          }
        }
      }
      }
      .preset-menu-btn,.close-preset-menu-button {
        cursor: pointer;
        position: absolute;
        right: 4px;
        top: 4px;
        padding: 8px;
        display: flex;
        scale: .78;
        justify-content: center;
        align-items: center;
      }
      .preset-menu-btn {
        border-radius: 50%;
        border: 1px solid #3a3a3a33;
        background-color: white;
      }
      .close-preset-menu-button{
        border: 1px solid #3a3a3a33;
        border-radius: 8px;
        letter-spacing: 0.035em;
        right: 0px;
      }
      .preset-element-option {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        padding: 6px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        border-left: 1px solid #3a3a3a33;
        border-top: none;
        border-bottom: none;
        border-right: none;
        border-top-right-radius: inherit;
        border-bottom-right-radius: inherit;
        background-color: white;
        z-index: 100;
        .pre-opt {
          position: relative;
          .icon {
            display: flex;
            justify-content: center;
            align-items: center;
          }
          &:hover .tool-tip {
            display: flex;
          }
          .tool-tip {
            position: absolute;
            display: none;
            justify-content: center;
            align-items: center;
            white-space: nowrap;
            padding: 4px 8px;
            border: 1px solid #8787874a;
            background-color: white;
            right: calc(100% + 10px);
            top: 0;
          }
        }
      }
      .preset-element-option.active {
        display: flex;
        pointer-events: inherit;
      }
      .pre-opt {
        user-select: none;
        margin: 2px 4px;
        flex: 1;
        padding: 0px 8px;
        border: 1px solid transparent;
        border-radius: 6px;
        cursor: pointer;
        display: flex;
        align-items: center;
        &:hover{
          border: 1px solid #3a3a3a33;
        }
      }
      .preset-val {
        margin: 4px 0px;
        cursor: pointer;
        padding: 4px 8px;
        border-radius: 4px;
        &:hover,
        &.active {
          background-color: #eee;
        }
        .p-label {
          color: #222222e4;
        }
        .p-val {
          color: #272727d8;
        }
      }
      &:first-of-type {
        margin-top: 0;
      }
  }
.save-colorset-modal {
    top:0;
}

.color-paths {
    border-left: 1px solid #cccccc6b;
    padding: 12px;
    .color-path {
        display: flex;
        margin: 8px 0px;
        .cp-container {
            display: flex;
        }
        .stroke-container {
            margin-right: 12px;
        }
        .cp-label {
            margin-right: 4px;
        }
        .cp-element {
            display: flex;
            justify-content: center;
            align-items: center;
            svg {
                height: 20px;
                width: 20px;
            }
        }
        .cp-fill.cp-element {
            height: 20px;
            width: 20px;
            border-radius: 4px;
        }
    }
}
