.preview__modals--modal.components {
    height: 100%;
    padding-right: 18px;

}
  
.preview-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid rgba(20, 20, 20, 0.05);
    border-radius: 10px;
}
.preview-group .label {
    margin: 0 0 10px 10px;
    font-size: 20px;
    transition: opacity 300ms ease-in-out;
    color: rgba(20, 20, 20, 0.743);

}
.preview-group .preview-components {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
    position: relative;
}
.preview-group .preview-components .pb-component {
    margin-left: 10px;
    z-index: 2;
}
  
.comp {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.logo--xs svg {
    height: 14px;
    width: 14px;
}
.logo--sm svg {
    height: 18px;
    width: 18px;
}
.logo--md svg {
    height: 24px;
    width: 24px;
}
.logo--lg svg {
    height: 40px;
    width: 40px;
}
  
.squared .comp,
.squared-rounded .comp,
.round .comp {
    border: 1px solid rgba(20, 20, 20, 0.05);
    padding: 4px 6px;
}
.squared--xs svg,
.squared-rounded--xs svg,
.round--xs svg {
    height: 16px;
    width: 16px;
}
.squared--sm svg,
.squared-rounded--sm svg,
.round--sm svg {
    height: 24px;
    width: 24px;
}
.squared--md svg,
.squared-rounded--md svg,
.round--md svg {
    height: 34px;
    width: 34px;
}
.squared--lg svg,
.squared-rounded--lg svg,
.round--lg svg {
    height: 40px;
    width: 40px;
}
  
.squared-rounded .comp {
    border-radius: 8px;
}
  
.round .comp {
    border-radius: 50%;
}
  
.round--xs.comp {
    padding: 8px;
}
.round--sm.comp {
    padding: 10px;
}
.round--md.comp {
    padding: 12px;
}
.round--lg.comp {
    padding: 16px;
}
  
.button .comp {
    border: 1px solid rgba(20, 20, 20, 0.05);
    border-radius: 8px;
}
.button--sm {
    height: 44px;
    width: 44px;
}
.button--sm svg {
    height: 24px;
    width: 24px;
}
.button--md {
    height: 56px;
    width: 56px;
}
.button--md svg {
    height: 24px;
    width: 24px;
}
.button--lg {
    height: 64px;
    width: 64px;
}
.button--lg svg {
    height: 24px;
    width: 24px;
}
  
.nested .comp {
    border: 1px solid rgba(20, 20, 20, 0.05);
    width: 64px;
    height: 40px;
}
.nested .comp svg {
    height: 24px;
    width: 24px;
}
.nested--left {
    border-radius: 0 40px 40px 0;
}
.nested--right {
    border-radius: 40px 0 0 40px;
}
