<div class="page-navigator">
                            
  <div class="project"><span class="label">Categories</span></div>
  <div class="divider">

      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">

          <g>
          
              <polyline fill="none" stroke="#000000" stroke-width="2" stroke-linejoin="bevel" stroke-miterlimit="10" points="37,15 20,32 
                  37,49 	"></polyline>
          
          </g>
          
          </svg>
  </div>
<!-- 
  <div class="p-counter">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="-20 -10 40 40" height="14px" width="14px">
          <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8z"></path></svg>
  </div>
  <div class="p-counter p-counter--lg">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="-6 -2 24 24" height="14px" width="14px">
          <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8z"></path></svg>
  </div> -->
  <div class="project-tab current-tab"><span class="label">Home</span></div>

  <!-- <div class="p-counter p-counter--lg">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="-6 -2 24 24" height="14px" width="14px">
          <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8z"></path></svg>
  </div>
  <div class="p-counter">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="-10 -9 40 40" height="14px" width="14px">
          <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8z"></path></svg>
  </div> -->
  <div class="divider">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="16px" viewBox="9 8 48 48" enable-background="new 0 0 64 64" xml:space="preserve">

          <g>
          
              <polyline fill="none" stroke-width="3" stroke-linejoin="bevel" stroke-miterlimit="10" points="27,15 44,32 
                  27,49 	"></polyline>
          
          </g>
          
          </svg>
  </div>
</div>
