html,body {
    height: 100%;
    width: 100%;
    position: relative;
    margin: 0;
    padding: 0;
}

.main {
    position: relative;
    width: 100%;
    height: 100%;
}

.header,.footer {
    z-index: 2;
}

.header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    height: 10%;
    width: 100%;
    padding: 0 30px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.347);
    background-color: white;
}

.gallery {
    overflow: scroll;
    overflow-x: hidden;
    position: absolute;
    padding: 100px;
    // display: flex;
    // justify-content: end;
    // align-items: center;
    // flex-wrap: wrap;
    display: grid;
    height: 100%;
    width: 100%;
    z-index: 1;
    // to pane remove box sizing border box
    box-sizing: border-box;
    padding-left: 40%;
    gap: 10px;
    .img-set {
        position: relative;
        width: 50%;
        height: 100%;
        display: grid;
        justify-content: center;
        // grid-template-columns: repeat(3, auto);
        // grid-template-rows: repeat(3, auto);
        gap: 10px;
        grid-template-areas: 
            "a b b"
            "a b b"
            "a b b";
        
            .col1 {
                grid-area: a;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-bottom: 30px;
                width: 200px;

                .i1 img{
                    max-width: 200px;
                }
            }

            .col2 {
                width: 500px;
                grid-area: b;

                .i2 img{
                    max-width: 300px
                }
                .i3 img{
                    max-width: 500px;
                }
            }
    }
    // img {
    //     width: 300px;
    // }
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 20%;
    padding-left: 60px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    pointer-events: none;

    .title {
        display: flex;
        flex-direction: column;
        font-size: 32pt;
    }
    .description {
        position: absolute;
        right: -120px;
        top: -30px;
        transform: rotate(-90deg);

    }
}