html,body {
    height: 100%;
    width: 100%;
    position: relative;
}

.main {
    display: grid;
    width: 100%;
    position: relative;
    grid-template-columns: 1fr 5fr;
    grid-template-areas: 
        "sidebar gallery";
}

.gallery {
    box-sizing: border-box;
    grid-area: gallery;
    padding: 30px 60px;

    img {
        object-fit: cover;
        object-position: -50% 50%;
        width: 100%;
    }
}

.sidebar {
    position: fixed;
    box-sizing: border-box;
    grid-area: sidebar;
    margin-top: 30px;
    padding: 10px 0 0 45px;

    .name {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18pt;
        font-weight: bold;
        white-space: nowrap;
    }
}

ul {
    list-style: none;
    margin: 30px 0;
    padding: 0;
    font-size: 14pt;
    line-height: 1.8;
    font-family: Arial, Helvetica, sans-serif;
}

.sm-links {
    display: flex;
    width: 60%;
    justify-content: space-between;
}

@media (min-width: 1090px) {

    .gallery {
        display: flex;
        flex-wrap: wrap;
        padding: 30px 30px;
        justify-content: center;
        
        img {
            width: 47%;
            margin: 5px;
        }
    }
}


@media (min-width: 1450px) {
    .gallery img {
        width: 32%;
    }
}

@media (min-width: 1800px) {

    .gallery {
        padding: 30px 0;
    }
    .gallery img {
        width: 24%;
    }
}

@media (max-width: 950px) {
    .main {
        display: flex;
        flex-direction: column;
        
        .sidebar {
            padding: 0px 60px;
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .p-links,.s-links {
                display: none;
            }
            .sm-links {
                width: 30%;
            }
        }
    }
}
