<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/test-slider.css">
</head>
<body>
    <div class="wrapper">
        <div class="slider default">
            <div class="slider-track">
                <div class="slider-handle"></div>
            </div>
        </div>
    </div>
    <div class="control">
        <input type="range">
    </div>
</body>
<script>
function Slider(wrapper)
{
    const self = this;
    this.container = wrapper;
    this.track = wrapper.querySelector('.slider-track');
    this.handle = wrapper.querySelector('.slider-handle');
    this.position = 0;

    this.coords = {
        get max() {
            return this.trackWidth - this.handleSize;
        },
        get min() {
            return 0;
        },
        get handleSize() {
            return this.handle.width;
        },
        get trackWidth() {
            return this.track.width;
        },
        get trackStart() {
            return this.track.x;
        },
        get track() {
            return self.track.getBoundingClientRect();
        },
        get handle() {
            return self.handle.getBoundingClientRect();
        },
    };

    this.update = (val) => this.position = val;

    this.clamp = (val) => {

            let x;
            let max = this.coords.max;
            let min = this.coords.min;

            if (isNaN(val)) 
                throw new Error(`clamp function expects a number...you passed ${val}`)

            if (val >= max)
                x = max
            else if (val <= this.coords.min)
                x = min;
            else {
                x = val;
            }

            return x;
    };

    this.slideTo = (pos) => {
        this.handle.style.transform = `translateX(${pos}px)`;
        return pos;
    };

    this.handleMouseX = (event) => {
        let x = event.clientX;
        let start = this.coords.trackStart;
        let distance = x - start;
        let clamped = this.clamp(distance);

        this.update(clamped);
        this.slideTo(clamped);
    }

    this.handleClick = () => {
            console.log('tracking:', this)
            document.addEventListener('mousemove', this.handleMouseX);
            document.addEventListener('mouseup', () => {
                    document.removeEventListener('mousemove',this.handleMouseX);
                    console.log('tracking stopped')
            })
    }
    this.init = () => this.handle.addEventListener('mousedown', this.handleClick);
    this.disable = () => this.handle.removeEventListener('mousedown', this.handleClick);
}
const test = new Slider(document.querySelector('.wrapper'));
test.init();
// test.coords.check()
</script>
</html>