*,*::after,*::before {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,body {
    margin: 0;
    padding: 0;
}

$font-color: rgb(80,80,80,.67);
$border--placeholder: 1px solid rgba(20,20,20,.05);
// $border--placeholder: 0;
$padding--placeholder: 10px 20px;
$margin--placeholder: 10px;
// $margin--placeholder: 0;

$color--header: rgba(0, 0, 0, 0.6743);
$border--default: 1px solid rgba(20,20,20,.05);
$padding-default: 10px 20px;

.placeholder {
    position: relative;
    border: $border--placeholder;
    padding: $padding--placeholder;
    margin: $margin--placeholder;
    border-radius: 10px;
    max-width: 300px;
}

.placeholder.component-lib {
    max-width: none;
    min-height: 800px;
}

.interface--components {
    min-height: 400px;
    min-width: 365px;
}

.component-set {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: $border--placeholder;
    padding: 10px 20px;
}

.comp {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    .comp {
        // border: 1px dotted rgba(255, 0, 0, 0.417);
    }
    &--xs svg {
        height: 14px;
        width: 14px;
    }
    &--sm svg {
        height: 18px;
        width: 18px;
    }
    &--md svg {
        height: 24px;
        width: 24px;
    }
    &--lg svg {
        height: 40px;
        width: 40px;
    }
}
.squared,
.squared-rounded,
.round {
    .comp {
        border: $border--default;
        padding: 4px 6px;
    }
    &--xs svg {
        height: 16px;
        width: 16px;
    }
    &--sm svg {
        height: 24px;
        width: 24px;
    }
    &--md svg {
        height: 34px;
        width: 34px;
    }
    &--lg svg {
        height: 40px;
        width: 40px;
    }
}
.squared-rounded .comp {
    border-radius: 8px;
}
.round .comp {
    border-radius: 50%;
}
.round {
    &--xs.comp {
        padding: 8px;
    }
    &--sm.comp {
        padding: 10px;
    }
    &--md.comp {
        padding: 12px;
    }
    &--lg.comp {
        padding: 16px;
    }
}

.button {
    .comp {
        border: $border--default;
        border-radius: 8px;
    }
    &--xs {
        height: 44px;
        width: 44px;
        svg {
            height: 24px;
            width: 24px;
        }
    }
    &--sm {
        height: 56px;
        width: 56px;
        svg {
            height: 24px;
            width: 24px;
        }
    }
    &--md {
        height: 64px;
        width: 64px;
        svg {
            height: 24px;
            width: 24px;
        }
    }
}

.nested {
    .comp {
        border: $border--default;
        width: 64px;
        height: 40px;
        svg {
            height: 24px;
            width: 24px;
        }
    }
    &--left {
        border-radius: 0 40px 40px 0;
    }
    &--right {
        border-radius: 40px 0 0 40px;
    }
}
/*

    round--xs
    round--sm
    round--md
    round--lg

    nested--right
    nested--left

    btn
    btn-grouped
*/