$black: #222;
$slate: #535353;

$font-clr-1: rgba(20,20,20,.82);
$font-clr-2: rgba(20, 20, 21, .67);
$accent-blue: #87e1fe;

$main-border-trim-color:  #333;
$red: #cb4848;
$accent-blue: #87e1fe;

$border-light: rgba(128, 128, 128, 0.1771);
