.menu {
  height: 100%;
  width: -moz-fit-content;
  width: fit-content;
  z-index: 100;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  transition: opacity .4s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
}

.menu__wrapper {
  z-index: 1000;
  width: 64px;
  height: 100%;
  background: #fff;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  transition: width .15s cubic-bezier(.25, .46, .45, .94);
  display: flex;
  position: relative;
  box-shadow: -2px 4px 8px 2px #8080800a;
}

.menu__wrapper .svg {
  height: 40px;
  width: 40px;
  pointer-events: none;
}

.menu .sidebar {
  height: 100%;
  width: 64px;
  z-index: 10000;
  background: #ffffffd9;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  position: relative;
  box-shadow: -2px 4px 8px 2px #80808017;
}

.menu .sidebar__tab-set {
  box-sizing: border-box;
  height: 480px;
  border-top: 1px solid #8080802d;
  border-bottom: 1px solid #8080802d;
  flex-flow: column wrap;
  justify-content: space-between;
  margin: 32px 0;
  padding: 32px 0;
  display: flex;
}

.menu .sidebar__tab-set .tab {
  justify-content: center;
  align-items: center;
  padding: 2px;
  display: flex;
  position: relative;
}

.menu .sidebar__tab-set .tab__button {
  cursor: pointer;
  border-radius: .5em;
  justify-content: center;
  align-items: center;
  margin: 16px 0;
  display: flex;
  position: relative;
}

.menu .sidebar__tab-set .tab__button.home, .menu .sidebar__tab-set .tab__button.theme {
  margin: 0;
}

.menu .sidebar__tab-set .tab__button.theme {
  transform: translateY(-12px);
}

.menu .sidebar__tab-set .tab__button.theme .sun {
  display: none;
}

.menu .sidebar__tab-set .tab__button:hover:not(.theme):not(.logo) {
  box-shadow: 0 0 7px -4px #1b1f2369, 0 0 0 1px #1b1f2306, 0 2px 10px #1b1f2303, 0 1px 2px #1b1f231a;
}

.menu .sidebar__tab-set .tab .modal {
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  background: #fff;
  border-radius: 10px;
  transition: transform .2s ease-in-out, opacity .15s cubic-bezier(.075, .82, .165, 1);
  position: absolute;
  left: calc(100% + 20px);
  overflow: hidden;
  box-shadow: 0 2px 4px 1px #7e7e7e23, 2px 4px 20px 4px #b4b4b423, 2px 4px 40px -4px #b4b4b463;
}

.menu .sidebar__tab-set .tab .modal.active {
  visibility: visible;
  pointer-events: all;
  opacity: 1;
  transform: rotateX(4deg)rotateY(-8deg)rotateZ(0);
}

.menu .sidebar__tab-set .tab .modal__menu {
  height: 300px;
  width: 280px;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  position: relative;
}

.menu .sidebar__tab-set .tab .modal__menu.vert {
  flex-direction: column;
}

.menu .sidebar__tab-set .tab .modal__menu.md, .menu .sidebar__tab-set .tab .modal__menu.lg {
  width: 350px;
  height: 375px;
}

.menu .sidebar__tab-set .tab .modal__menu.vert.lg, .menu .sidebar__tab-set .tab .modal__menu.vert .docs {
  width: 350px;
  height: 315px;
}

.menu .sidebar__tab-set .tab .modal__menu.vert--sm, .menu .sidebar__tab-set .tab .modal__menu.vert.categories, .menu .sidebar__tab-set .tab .modal__menu.vert.collections {
  height: 300px;
}

.menu .sidebar__tab-set .tab .modal__menu--items {
  overflow: hidden;
}

.menu .sidebar__tab-set .tab .modal__menu--items ul {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0 20px;
  list-style: none;
  display: block;
  position: relative;
  overflow: scroll;
}

.menu .sidebar__tab-set .tab .modal__menu--items-item {
  letter-spacing: .115em;
  color: #505050f0;
  cursor: pointer;
  background-color: #8a878712;
  border-radius: 16px;
  margin: 16px 0;
  padding: 16px 32px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  list-style: none;
  transition: all .2s;
}

.menu .sidebar__tab-set .tab .modal__menu--items-item:hover {
  background-color: #50505012;
  border-radius: 32px;
  padding-left: 30px;
}

.menu .sidebar__tab-set .tab .modal__menu--header {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  display: inline-flex;
}

.menu .sidebar__tab-set .tab .modal__menu--header-label {
  height: 100%;
  color: #505050de;
  letter-spacing: .115em;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  margin-left: 18px;
  padding-left: 16px;
  font-family: sans-serif;
  font-size: 14px;
  display: inline-flex;
}

.menu .sidebar__tab-set .tab .modal__menu--header-close {
  cursor: pointer;
  border-radius: 8px;
  justify-content: center;
  align-items: flex-end;
  display: flex;
}

.menu .sidebar__tab-set .tab .modal__menu--header-close svg {
  box-shadow: none;
  fill: #505050ab;
  border: 0;
}

.menu .sidebar__tab-set .tab .modal.top-aligned {
  top: -20px;
}

.menu .sidebar__tab-set .tab .modal.bottom-aligned {
  bottom: -50%;
}

.menu .sidebar__tab-set .tab .modal[data-tab="settings"] {
  top: -150px;
  transform: translateY(-20px);
}

.menu .cosm {
  z-index: 1;
  height: 100vh;
  width: 100vw;
  opacity: 0;
  pointer-events: none;
  background: #808080d5;
  transition: all .15s ease-in;
  position: absolute;
  top: 0;
  left: 0;
}

.menu .cosm.open {
  opacity: 1;
  pointer-events: all;
}

.modal-md {
  width: 350px;
  height: 375px;
}

.modal-menu.modal-sm {
  width: 350px;
  height: 200px;
}

.modal-menu.modal-sm.settings {
  height: 250px;
  transform: translateY(-20px);
}

.modal-menu.modal-lg {
  width: 350px;
  height: 375px;
}

.modal-vert {
  height: 350px;
  width: 250px;
}

.modal-vert--lg, .modal-vert.docs {
  width: 275px;
}

.modal-vert--sm, .modal-vert.categories, .modal-vert.collections {
  height: 300px;
  width: 240px;
}

.svg-wrapper {
  cursor: pointer;
  height: 64px;
  width: 64px;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  margin: 8px;
  transition: all .2s ease-out;
  display: flex;
  box-shadow: 0 2px 10px #1b1f2314, 0 1px 2px #1b1f231a;
}

.svg-wrapper:hover {
  box-shadow: 0 3px 6px #0000001a, 0 1px 3px #00000014;
}

.svg-wrapper svg {
  height: 24px;
  width: 24px;
  stroke: #000;
}

.svg-wrapper, .svg-wrapper svg {
  transition: all .25s ease-in-out;
}

.svg-wrapper.benched {
  background-image: linear-gradient(#fff, #f5f5fa);
}

.dashboard {
  flex-flow: column wrap;
  flex: 1;
  margin-top: 120px;
  margin-left: 64px;
  display: flex;
  position: relative;
}

.dashboard__header {
  height: 112px;
  width: 100%;
  padding: 12px 64px;
  display: none;
  position: relative;
}

.dashboard__header .title, .dashboard__header .page-navigator {
  color: #141415ab;
  letter-spacing: 1px;
  margin-bottom: 12px;
  font-family: Franklin Gothic Medium, Arial Narrow, Arial, sans-serif;
  font-size: 32px;
  display: flex;
  position: relative;
}

.dashboard__header .page-navigator {
  margin-bottom: 16px;
  font-size: 18px;
}

.dashboard__modal {
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
  place-content: flex-start;
  margin: 0;
  padding: 0;
  transition: transform .2s ease-in-out, opacity .15s cubic-bezier(.075, .82, .165, 1);
  display: flex;
  position: absolute;
  overflow-y: scroll;
}

.dashboard__modal.active {
  visibility: visible;
  pointer-events: all;
  opacity: 1;
}

.dashboard .content-wrapper {
  padding: 24px;
}

.btn--banner.create-collection {
  height: max-content;
  width: 100%;
  cursor: pointer;
  background-color: #fff;
  padding: 8px 20px 16px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.btn--banner.create-collection span.create {
  letter-spacing: .025em;
  color: #283739e1;
  text-align: center;
  background-color: #87e1fe;
  border: 1px solid #e0ffffe0;
  border-radius: 8px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 2.5;
  display: block;
  position: relative;
  box-shadow: 0 1px 8px 1px #add8e621;
}

.btn--banner.create-collection span.create:hover {
  cursor: pointer;
}

.icon-context-menu {
  z-index: 9999;
  opacity: 0;
  pointer-events: none;
  box-sizing: content-box;
  height: 72px;
  width: auto;
  transform-origin: top;
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
  overflow: visible;
  transform: translate(-10px, 10px);
}

.icon-context-menu.vert {
  transform: rotate(-90deg)translate(-10px, 10px);
}

.icon-context-menu.vert .btn-snack, .icon-context-menu.vert .snackbar__menus {
  transform: rotate(90deg);
}

.icon-context-menu.vert .btn-snack.left, .icon-context-menu.vert .snackbar__menus.left {
  transform: rotate(90deg)translate(-125%, 10px);
}

.icon-context-menu.active {
  pointer-events: all;
  opacity: 1;
}

.icon-context-menu .snackbar {
  height: 72px;
  box-sizing: border-box;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 2px 1px #dfdfdf34, 0 3px 40px 5px #67676739, 0 2px 80px -10px #352d2d2f;
}

.icon-context-menu .snackbar__icons {
  z-index: 9;
  position: relative;
}

.icon-context-menu .snackbar__icons ul {
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 16px 8px;
  list-style: none;
  display: inline-flex;
  box-shadow: 0 0 2px 1px #dfdfdf34, 0 3px 40px 5px #67676780, 0 2px 80px -10px #352d2d2f;
}

.icon-context-menu .snackbar__icons ul .btn-snack {
  cursor: pointer;
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  margin: 0 8px;
  padding: 10px;
  display: flex;
  box-shadow: 0 1px 9px -1px #9d9d9d49, 0 0 4px #9d9d9d10;
}

.icon-context-menu .snackbar__icons ul .btn-snack:hover svg {
  fill: #2e2b2ade;
}

.icon-context-menu .snackbar__icons ul .btn-snack svg {
  height: 16px;
  width: 16px;
  fill: #2e2b2aab;
}

.icon-context-menu .snackbar__icons ul .favit.icon-is-favorite svg {
  fill: #ffd904;
  transform: scale(1.1);
}

.icon-context-menu .snackbar__banners {
  height: 68px;
  width: 104%;
  height: 104%;
  z-index: 10;
  border: 1px dotted red;
  position: absolute;
}

.icon-context-menu .snackbar__banners .banner {
  height: 100%;
  width: 100%;
  opacity: 0;
  color: #fff;
  background-color: #42f3b8;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bolder;
  transition: transform .2s ease-in-out, opacity .15s ease-in;
  display: inline-flex;
  position: absolute;
  left: -6px;
}

.icon-context-menu .snackbar__banners .banner.active {
  opacity: 1;
  transform: translateY(-100%);
}

.icon-context-menu .snackbar__menus {
  z-index: 1;
  opacity: 0;
  width: 100%;
  height: 300px;
  pointer-events: none;
  background-color: #0000;
  border-radius: 10px;
  flex-direction: column;
  margin-top: 30px;
  display: flex;
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
  box-shadow: 0 0 8px 4px #ddd;
}

.icon-context-menu .snackbar__menus.top {
  transform: translate(0, -135%);
}

.icon-context-menu .snackbar__menus.active {
  opacity: 1;
}

.icon-context-menu .snackbar__menus--items {
  margin-top: 10px;
  overflow: hidden;
}

.icon-context-menu .snackbar__menus--items ul {
  height: 100%;
  width: 100%;
  margin: 10px 0 0;
  padding: 0;
  list-style: none;
  display: block;
  position: relative;
  overflow: scroll;
}

.icon-context-menu .snackbar__menus--items-item {
  letter-spacing: .115em;
  color: #505050f0;
  cursor: pointer;
  border-radius: 8px;
  margin: 0 20px;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  list-style: none;
}

.icon-context-menu .snackbar__menus--items-item:hover {
  background-color: #50505012;
}

.icon-context-menu .snackbar__menus--header {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  display: inline-flex;
}

.icon-context-menu .snackbar__menus--header-label {
  height: 100%;
  color: #505050de;
  letter-spacing: .115em;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  margin-left: 18px;
  padding-right: 4px;
  font-family: sans-serif;
  font-size: 14px;
  display: inline-flex;
}

.icon-context-menu .snackbar__menus--header-close {
  cursor: pointer;
  border-radius: 8px;
  justify-content: center;
  align-items: flex-end;
  display: flex;
}

.icon-context-menu .snackbar__menus--header-close svg {
  box-shadow: none;
  fill: #505050ab;
  border: 0;
}

.icon-context-menu .snackbar__menu {
  opacity: 0;
  height: 100%;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  transition: transform .18s, opacity .18s ease-out;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-50%);
}

.icon-context-menu .snackbar__menu .menu-items {
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  padding: 0 52px 0 32px;
  list-style: none;
  display: flex;
  position: relative;
  overflow: scroll;
}

.icon-context-menu .snackbar__menu .menu-items li {
  width: 100%;
  letter-spacing: .115em;
  color: #6a6d79f0;
  cursor: pointer;
  background-color: #87898a12;
  border: 2px solid #dddddd30;
  border-radius: 16px;
  margin: 16px 0;
  padding: 16px 32px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  list-style: none;
  transition: all .25s;
  box-shadow: inset 0 0 12px #00000009;
}

.icon-context-menu .snackbar__menu .menu-items li:hover {
  background-color: #50505012;
  border-radius: 32px;
  padding-left: 30px;
}

.icon-context-menu .snackbar__menu .menu-items li.checked {
  background: linear-gradient(to left, #42f3b8c2, #42f3b8);
}

.icon-context-menu .snackbar__menu.active-top {
  pointer-events: all;
  opacity: 1;
  transform: translateY(-120%);
}

.icon-context-menu .snackbar__menu.active-bottom {
  pointer-events: all;
  opacity: 1;
  transition: none;
  transform: translateY(0);
}

.icon-context-menu .snackbar__menu--header {
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
  display: flex;
}

.icon-context-menu .snackbar__menu--header-label {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
}

.modals {
  flex-direction: column;
  flex: 1;
  display: flex;
  position: relative;
  overflow-y: scroll;
}

.modals__modal .viewbox .input-field {
  max-width: 50%;
  margin-bottom: 10px;
  margin-right: 20px;
}

.modals__modal .viewbox .input-field:last-of-type {
  margin-right: 0;
}

.modals__modal .viewbox .input-field .label {
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  width: 20px;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  margin-right: 4px;
  padding: .5rem 1.25rem;
  font-size: 20px;
  display: flex;
  box-shadow: 0 0 2px 1px #14141413;
}

.modals__modal .viewbox .input-field .label .input {
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.modals__modal .viewbox .input-field .label:hover {
  cursor: ew-resize;
}

.modals__modal .input-field {
  color: #505050ab;
  border: 1px solid #1414140d;
  border-radius: 8px;
  flex: 1;
  padding: 8px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  display: flex;
  position: relative;
}

.modals__modal .input-field .input {
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.modals__modal .input-group {
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 4px 0;
  display: flex;
  position: relative;
}

.modals__modal .sliding-group {
  width: 100%;
  position: relative;
}

.modals__modal .sliding-group .input-header {
  color: #000000ac;
  width: 100%;
  margin: 4px 0;
}

.modals__modal .sliding-group .input-field {
  width: 100%;
  justify-content: flex-start;
  margin-right: 0;
  position: relative;
}

.modals__modal .sliding-group .input-field .label {
  cursor: pointer;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  margin-bottom: 4px;
  margin-right: 4px;
  padding: .65rem;
  display: flex;
  box-shadow: 0 0 2px 1px #14141413;
}

.modals__modal .sliding-group .input-field .slider {
  width: 100%;
  cursor: pointer;
  height: 100%;
  border: 1px solid #1414140d;
  border-radius: 10px;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  display: flex;
}

.modals__modal .sliding-group .input-field .slider-track {
  height: 16px;
  width: 100%;
  background: #f4f4f4;
  border-radius: 32px;
  position: relative;
  box-shadow: inset -1px 1px 4px 2px #6b6b6b20;
}

.modals__modal .sliding-group .input-field .slider-handle {
  will-change: transform;
  height: 24px;
  width: 24px;
  background: #888;
  border-radius: 100%;
  transition: all;
  position: absolute;
  top: -4px;
  left: 0;
  box-shadow: 0 0 2px #00000023, 0 1px 8px -1px #00000015;
}

.modals__modal .sliding-group .input-field svg {
  height: 20px;
  width: 20px;
  stroke: #333333de;
}

.modals__modal .input-field .input {
  width: 100%;
  height: 100%;
  color: #333333af;
  letter-spacing: .075em;
  border: 0;
  border-radius: 4px;
  outline: 0;
  padding-left: 8px;
  position: relative;
}

.modals__modal .input-field .input::placeholder {
  color: #505050ab;
}

.modals__modal .input-field .input:focus {
  background-color: #cccccc6e;
}

.modals__modal .input-field svg {
  height: 20px;
  width: 20px;
  stroke: #333333de;
}

.tab-window.preview {
  width: 100%;
  flex-direction: column;
  display: flex;
}

.preview-group {
  width: 100%;
  border: 1px solid #1414140d;
  border-radius: 10px;
  flex-direction: column;
  flex: 1;
  margin: 10px 0;
  padding: 10px;
  display: flex;
}

.preview-group .label {
  margin: 0 0 10px 10px;
  font-size: 24px;
  transition: opacity .3s ease-in-out;
}

.preview-group .preview-components {
  align-items: center;
  gap: 10px;
  margin: 10px 0;
  display: flex;
  position: relative;
}

.preview-group .preview-components .pb-component {
  z-index: 2;
  margin-left: 10px;
}

.comp {
  justify-content: center;
  align-items: center;
  display: flex;
}

.logo--xs svg {
  height: 14px;
  width: 14px;
}

.logo--sm svg {
  height: 18px;
  width: 18px;
}

.logo--md svg {
  height: 24px;
  width: 24px;
}

.logo--lg svg {
  height: 40px;
  width: 40px;
}

.squared .comp, .squared-rounded .comp, .round .comp {
  border: 1px solid #1414140d;
  padding: 4px 6px;
}

.squared--xs svg, .squared-rounded--xs svg, .round--xs svg {
  height: 16px;
  width: 16px;
}

.squared--sm svg, .squared-rounded--sm svg, .round--sm svg {
  height: 24px;
  width: 24px;
}

.squared--md svg, .squared-rounded--md svg, .round--md svg {
  height: 34px;
  width: 34px;
}

.squared--lg svg, .squared-rounded--lg svg, .round--lg svg {
  height: 40px;
  width: 40px;
}

.squared-rounded .comp {
  border-radius: 8px;
}

.round .comp {
  border-radius: 50%;
}

.round--xs.comp {
  padding: 8px;
}

.round--sm.comp {
  padding: 10px;
}

.round--md.comp {
  padding: 12px;
}

.round--lg.comp {
  padding: 16px;
}

.button .comp {
  border: 1px solid #1414140d;
  border-radius: 8px;
}

.button--sm {
  height: 44px;
  width: 44px;
}

.button--sm svg {
  height: 24px;
  width: 24px;
}

.button--md {
  height: 56px;
  width: 56px;
}

.button--md svg {
  height: 24px;
  width: 24px;
}

.button--lg {
  height: 64px;
  width: 64px;
}

.button--lg svg {
  height: 24px;
  width: 24px;
}

.nested .comp {
  width: 64px;
  height: 40px;
  border: 1px solid #1414140d;
}

.nested .comp svg {
  height: 24px;
  width: 24px;
}

.nested--left {
  border-radius: 0 40px 40px 0;
}

.nested--right {
  border-radius: 40px 0 0 40px;
}

[data-tab="bench"].preview-action__window {
  background-color: #fff;
  padding: 10px;
}

[data-tab="bench"].preview-action__window--header {
  width: 100%;
  padding: 10px 20px;
  display: flex;
}

[data-tab="bench"].preview-action__window--bench {
  max-height: 100%;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 10px;
  display: flex;
  position: relative;
  overflow-y: scroll;
}

[data-tab="bench"].preview-action__window--bench-component {
  border: 1px solid #1414140d;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  margin: 8px;
  display: flex;
}

[data-tab="bench"].preview-action__window--bench-component.selected {
  border: 1px solid #50505078;
}

.preview-action__window--snackbar {
  height: 100%;
  min-width: 40px;
  z-index: 10;
  flex-direction: column;
  padding: 10px 20px;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
}

.preview-action__window--snackbar .btn {
  justify-content: center;
  align-items: center;
  margin: 8px 0;
  display: flex;
}

.preview-action__window--snackbar .btn-alternate {
  transition: all .2s ease-in-out;
  transform: rotate(45deg);
}

.preview-action__window--snackbar .btn svg {
  stroke: #bebebeac;
  height: 16px;
  width: 16px;
  fill: #505050f7;
  transition: all .15s;
}

.preview-action__window--snackbar .btn-export svg {
  fill: #505050ab;
}

.preview-action__window--snackbar .btn:hover svg {
  stroke: #505050ab;
}

.preview-action__window--snackbar .options {
  flex-direction: column;
  flex: 1;
  align-items: center;
  transition: all .15s;
  display: flex;
  overflow: hidden;
  transform: translateX(100px);
}

.preview-action__window--snackbar .options .btn {
  margin: 10px 0;
  transition: all .2s cubic-bezier(.05, .1, .6, 1.05) .17s;
  transform: translateX(100px);
}

.preview-action__window--snackbar .options .stg-1 {
  transition-delay: .175s;
  transform: translateX(200px);
}

.preview-action__window--snackbar .options .stg-2 {
  transition-delay: .185s;
  transform: translateX(300px);
}

.preview-action__window--snackbar .options .stg-3 {
  transition-delay: .2s;
  transform: translateX(400px);
}

.preview-action__window--snackbar:hover .options, .preview-action__window--snackbar:hover .options .js-btn.btn {
  transform: translateX(0);
}

.preview-action__window--snackbar:hover .btn-alternate {
  transform: rotate(0);
}

.preview-action__window[data-tab="export"] {
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 32px 10px 0;
  overflow-y: scroll;
}

.preview-action__window[data-tab="export"] h2.label {
  text-align: center;
  color: #0d0c22;
  letter-spacing: .085em;
  border-bottom: 1px solid #ddd;
  margin: 0 0 10px;
  padding: 0 0 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  position: sticky;
  overflow: visible;
}

.preview-action__window[data-tab="export"] .options {
  justify-content: space-between;
  padding: 20px;
  display: flex;
}

.preview-action__window[data-tab="export"] .options .option {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 6px 12px;
  font-size: 18px;
  line-height: 1.75;
}

.preview-action__window[data-tab="export"] .options .option.selected {
  background: #77c6ff88;
}

.list-of-collections.add-to-collection {
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 32px 10px 0;
  position: relative;
  overflow-y: scroll;
}

.list-of-collections.add-to-collection .menu-items {
  width: 100%;
  margin: 0;
  padding: 0;
}

.list-of-collections.add-to-collection h2.label {
  text-align: center;
  color: #0d0c22;
  letter-spacing: .085em;
  border-bottom: 1px solid #ddd;
  margin: 0 0 10px;
  padding: 0 0 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  position: sticky;
  overflow: visible;
}

.list-of-collections.add-to-collection .flex-container {
  width: 100%;
  height: 100%;
  flex-direction: column;
  display: flex;
  position: relative;
}

.list-of-collections.add-to-collection .list-of-names {
  width: 100%;
  height: 100%;
  flex-direction: column;
  flex: 1;
  align-items: flex-start;
  padding-right: 20px;
  display: flex;
  overflow: scroll;
}

.list-of-collections.add-to-collection .collection-wrapper {
  width: 100%;
  min-height: 84px;
  background: #e1e1e1;
  border: 1px solid #cccccc16;
  border-radius: 16px;
  flex-direction: column;
  margin: 16px 0;
  padding: 8px 20px 10px;
  display: flex;
  box-shadow: 0 2px 4px 1px #7e7e7e23;
}

.list-of-collections.add-to-collection .collection-wrapper.selected {
  background: #77c6ff88;
}

.list-of-collections.add-to-collection .collection-wrapper .name {
  color: #545454;
  letter-spacing: .0125rem;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.4;
}

.list-of-collections.add-to-collection .collection-wrapper .numberOfIcons {
  font-size: 12px;
  font-weight: thin;
  color: #888;
  letter-spacing: .05rem;
  margin-top: 4px;
}

.list-of-collections.add-to-collection .collection-wrapper .numberOfIcons .num {
  color: #ff7f50b3;
  font-size: 18px;
  font-weight: bold;
}

.list-of-collections.add-to-collection .collection-wrapper .timestamp {
  color: #9e9ea7;
  letter-spacing: .05rem;
  line-height: 1.2;
}

.list-of-collections.add-to-collection .collection-wrapper .timestamp .text, .list-of-collections.add-to-collection .collection-wrapper .timestamp .stamp {
  font-size: 11px;
}

.list-of-collections.add-to-collection .collection-wrapper .timestamp .stamp {
  color: coral;
}

.preview-action.inner-modal {
  height: 100%;
  width: 100%;
  position: relative;
}

.preview-action__window {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  height: 100%;
  width: 100%;
  background-color: #0000002c;
  position: absolute;
}

.preview-action__window.active {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.interface {
  height: 100%;
  width: -moz-fit-content;
  width: fit-content;
  background: #fff;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  flex-direction: column;
  align-items: center;
  display: flex;
  position: relative;
}

.interface .preview {
  -webkit-user-select: none;
  user-select: none;
  min-width: 365px;
  height: 100%;
  border: 1px solid #1414140d;
  border-radius: 10px;
  flex-direction: column;
  padding-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  position: relative;
  overflow: hidden;
}

.interface .preview .row {
  display: flex;
}

.interface .preview .column {
  flex-direction: column;
  display: flex;
}

.interface .preview__window {
  border-radius: 10px;
  padding: 16px 20px;
  position: relative;
}

.interface .preview__window--display {
  background: inherit;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.interface .preview__window--display-current, .interface .preview__window--display-current svg {
  height: 102px;
  width: 102px;
  z-index: 4;
  position: relative;
}

.interface .preview__window--navigator {
  height: 100%;
  cursor: pointer;
  background: none;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: 0;
}

.interface .preview__window--navigator.btn-next {
  right: 10px;
}

.interface .preview__window--navigator.btn-prev {
  left: 10px;
}

.interface .preview__window--navigator svg {
  height: 34px;
  width: 34px;
  stroke: currentColor;
}

.interface .preview__description {
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 4px;
  padding: 16px 20px;
  display: flex;
  position: relative;
}

.interface .preview__description .group {
  height: 100%;
}

.interface .preview__description--meta {
  font-family: Arial, Helvetica, sans-serif;
}

.interface .preview__description--meta .title-group__name {
  color: #141414c7;
  white-space: nowrap;
  padding-bottom: 4px;
  font-size: 24px;
  font-weight: 700;
}

.interface .preview__description--meta .title-group__category {
  color: #323232de;
  padding-bottom: 4px;
  font-size: 16px;
  line-height: 20px;
}

.interface .preview__description--snackbar {
  align-items: flex-end;
  line-height: 20px;
  position: absolute;
  right: 20px;
}

.interface .preview__description--snackbar-button {
  cursor: pointer;
  opacity: .67;
  margin-right: 8px;
}

.interface .preview__description--snackbar-button:last-of-type {
  margin-right: 0;
}

.interface .preview__description--snackbar-button svg {
  height: 20px;
  width: 20px;
  transition: all .2s;
}

.interface .preview__description--snackbar .btn-favit.icon-is-favorite svg {
  fill: #ffd904;
  transform: scale(1.1);
}

.interface .preview__tabber {
  justify-content: space-between;
  position: relative;
}

.interface .preview__tabber .tab {
  letter-spacing: .075em;
  color: #1414148a;
  border-top: 1px solid #1414140d;
  margin: 4px 0 8px;
  padding: 16px 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.interface .preview__tabber .tab.active .label:after {
  opacity: .7;
  transform: translateY(8px);
}

.interface .preview__tabber .tab .label {
  cursor: pointer;
  z-index: 1;
  background: #fff;
  position: relative;
}

.interface .preview__tabber .tab .label:after {
  content: "";
  background: inherit;
  z-index: -1;
  height: 5px;
  width: 5px;
  opacity: 0;
  background-color: #000000d7;
  border-radius: 100%;
  transition: all .2s ease-in-out;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateY(0);
}

.interface .preview__modals {
  width: 100%;
  height: 100%;
  flex: 1;
  margin-bottom: 70px;
  transition: all .35s;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
}

.interface .preview__modals--modal {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  height: 100%;
  width: 100%;
  padding: 0 20px;
  transition: all 80ms linear;
  position: absolute;
  top: 0;
  left: 0;
  overflow: scroll;
}

.interface .preview__modals--modal [data-role="tab"] {
  pointer-events: none;
}

.interface .preview__modals--modal.active {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
}

.interface .preview__modals--modal.active [data-role="tab"] {
  pointer-events: all;
}

.interface .preview__actions {
  width: 100%;
  z-index: 100;
  border-bottom-right-radius: inherit;
  border-bottom-left-radius: inherit;
  border-top: 1px solid #1414140d;
  position: absolute;
  bottom: 0;
  left: 0;
}

.interface .preview__actions--buttons {
  height: 64px;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.interface .preview__actions--buttons-btn {
  cursor: pointer;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  display: flex;
}

.interface .preview__actions--buttons-btn .icon {
  line-height: 1;
}

.interface .preview__actions--buttons-btn .label {
  color: #505050ab;
  opacity: .8;
  margin-top: 2px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.interface .preview__actions--buttons-btn svg {
  fill: #505050ab;
}

@media screen and (width <= 1000px) {
  #preview {
    display: none;
  }
}

.loading-container {
  height: 100%;
  width: 100%;
  place-content: center;
  display: grid;
}

.loader {
  width: 16px;
  height: 16px;
  color: #ddd;
  box-sizing: border-box;
  background: currentColor;
  border-radius: 4px;
  margin: -50px auto 0;
  animation: 2s infinite animloader;
  display: block;
  position: relative;
  transform: translateY(30px);
  box-shadow: 0 30px, 0 -30px;
}

.loader:after, .loader:before {
  content: "";
  box-sizing: border-box;
  width: 16px;
  height: 16px;
  color: #ddd;
  background: currentColor;
  border-radius: 4px;
  animation: 2s .2s infinite animloader;
  position: absolute;
  top: 0;
  left: 30px;
  box-shadow: 0 30px, 0 -30px;
}

.loader:before {
  animation-delay: .4s;
  left: 60px;
}

@keyframes animloader {
  0% {
    color: #ddd;
    top: 0;
  }

  50% {
    color: #fff3;
    top: 30px;
  }

  100% {
    color: #ddd;
    top: 0;
  }
}

.cc-loader--container {
  min-width: 300px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.cc-loader {
  width: 10px;
  height: 10px;
  color: #fff;
  box-sizing: border-box;
  border-radius: 50%;
  margin: 15px auto;
  animation: 2s linear infinite shadowRolling;
  display: block;
  position: relative;
  left: -100px;
}

@keyframes shadowRolling {
  0% {
    box-shadow: 0 0 #fff0, 0 0 #fff0, 0 0 #fff0, 0 0 #fff0;
  }

  12% {
    box-shadow: 100px 0 #fff, 0 0 #fff0, 0 0 #fff0, 0 0 #fff0;
  }

  25% {
    box-shadow: 110px 0 #fff, 100px 0 #fff, 0 0 #fff0, 0 0 #fff0;
  }

  36% {
    box-shadow: 120px 0 #fff, 110px 0 #fff, 100px 0 #fff, 0 0 #fff0;
  }

  50% {
    box-shadow: 130px 0 #fff, 120px 0 #fff, 110px 0 #fff, 100px 0 #fff;
  }

  62% {
    box-shadow: 200px 0 #fff0, 130px 0 #fff, 120px 0 #fff, 110px 0 #fff;
  }

  75% {
    box-shadow: 200px 0 #fff0, 200px 0 #fff0, 130px 0 #fff, 120px 0 #fff;
  }

  87% {
    box-shadow: 200px 0 #fff0, 200px 0 #fff0, 200px 0 #fff0, 130px 0 #fff;
  }

  100% {
    box-shadow: 200px 0 #fff0, 200px 0 #fff0, 200px 0 #fff0, 200px 0 #fff0;
  }
}

:root {
  --sidebar_width: 64px;
  --sidebar_background: white;
  --sidebar_shadow: -2px 4px 8px 2px #8080800a;
  --interface_width: 363px;
  --interface_background: white;
  --interface_shadow: 2px 4px 8px 2px #80808031;
  --margin: 8px;
  --border-radius__default: 8px;
  --main-clr__light: #333;
  --sub-clr__light: #333;
  --font-clr__light: #141415e6;
}

*, :before, :after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  position: relative;
  overflow: hidden;
}

body {
  background-color: #333;
  justify-content: center;
  align-items: center;
  display: flex;
}

#app {
  box-sizing: border-box;
  height: calc(100% - 16px);
  width: calc(100% - 16px);
  background: #fff;
  border-radius: 8px;
  display: flex;
  position: relative;
  overflow: hidden;
}

#app[data-state="live"] {
  opacity: 1;
}

#app[data-state="loading"], #app[data-state="live"] .intro {
  opacity: 0;
}

.modal.create-collection {
  height: 100%;
  width: 100%;
  opacity: 0;
  z-index: 10000;
  background: #1e1e1ee6;
  place-content: center;
  display: none;
  position: absolute;
}

.modal.create-collection.active {
  opacity: 1;
  display: grid;
}

.modal.create-collection .create-collection__form {
  min-height: 500px;
  min-width: 800px;
  background-color: #fff;
  border-radius: 20px;
  margin: 0 auto;
  padding: 100px 80px 60px;
  font-family: Arial;
}

.modal.create-collection .create-collection__form .header {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  padding-left: 4px;
  font-size: 20px;
}

.modal.create-collection .create-collection__form .input-field {
  flex-direction: column;
  margin: 10px 0;
  font-size: 18px;
  display: flex;
}

.modal.create-collection .create-collection__form .input-field .inp {
  width: 100%;
  color: #1e1e1ee6;
  border: 2px solid #ccccccec;
  border-radius: 10px;
  margin: 10px 0;
  padding: 10px 20px;
  font-size: 18px;
}

.modal.create-collection .create-collection__form .input-field .inp:focus {
  border: 2px solid #30a3ca79;
  outline: 2px solid #87e1fe;
}

.modal.create-collection .create-collection__form .input-field textarea {
  min-height: 200px;
  resize: vertical;
}

.modal.create-collection .create-collection__form .input-field.button-group {
  flex-direction: row;
  display: flex;
}

.modal.create-collection .create-collection__form .input-field.button-group button {
  color: #444;
  width: max-content;
  letter-spacing: .035em;
  background-color: #87e1fe;
  border: 1px solid #ccc;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-right: 20px;
  padding: 16px 24px;
  font-size: 20px;
  display: inline-flex;
}

.modal.create-collection .create-collection__form .input-field.button-group .cc-cancel {
  background: #ddd;
}

@media screen and (width <= 1000px) {
  #app .interface {
    display: none;
  }
}

@media screen and (width >= 800px) {
  .menu {
    opacity: 1;
    transform: translateX(0);
  }
}

@media screen and (width >= 600px) {
  .dashboard .dashboard__header {
    justify-content: space-between;
    align-items: flex-end;
    display: flex;
  }
}

/*# sourceMappingURL=index.bb652c76.css.map */
