@import 'colors';

@import 'components/sidebar';
@import 'components/dashboard';
@import 'components/buttons/create-from-menu';
@import 'components/snackbar';
@import 'components/preview';
@import 'components/loaders/default-loader';
@import 'components/search.scss';

@import 'components/sidebar-query.scss';

@import 'components/modals/context.scss';

:root {
    --sidebar_width: 64px;
    --sidebar_background: white;
    --sidebar_shadow:  -2px 4px 8px 2px rgba(128, 128, 128, 0.0392);

    --interface_width: 363px;
    --interface_background: white;
    --interface_shadow: 2px 4px 8px 2px rgba(128, 128, 128, 0.192);
    
    --margin: 8px;
    --border-radius__default: 8px;
    --main-clr__light: #333;
    --sub-clr__light: #333;
    --font-clr__light: rgba(20, 20, 21, .9);

    --current-sat: 0%;
    --current-light: 100%;
    --current-opac: 1;
    --current-huePCT: 0;
    --current-hue: 216deg;
    --current-hex: #fff;
    --current-color: hsla(var(--current-hue),var(--current-sat),var(--current-light),var(--current-opac));
    --cp--width: 180px;
    --cp-pointer--width: calc(var(--cp--width) * .1);
    --cp-pointer--pos: calc(0deg + var(--current-hue));
    --context-y: 0;
    --context-x: 0;
    --success-green: #70f09f;
}

$main-border-trim-color:  #333;
$red: #cb4848;
$accent-blue: #87e1fe;


*,*:before,*::after {
    box-sizing: border-box;
}

html,body {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
} 

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:$main-border-trim-color;
}

#app {
    display: flex;
    box-sizing: border-box;
    position: relative;
    height: calc(100% - 16px);
    width: calc(100% - 16px);
    background: white;
    border-radius: $border-radius__default;
    overflow: hidden;
    &[data-state="live"] {
        opacity: 1;
    }

    &[data-state="loading"] {
        opacity: 0;
    }
    &[data-state="live"] .intro {
        opacity: 0;
    }
}

.dashboard-cosm {
    position: absolute;
    height: 100%;
    width: 100%;
    // border: 1px solid red;
    background-color: transparent;
    top: 0;
    left: 0;
}

.modal.create-collection {

    background: rgba(30,30,30,0.9);
    height: 100%;
    width: 100%;
    display: none;
    opacity: 0;
    // backdrop-filter: blur(10px);
    place-content: center;
    position:absolute;
    z-index: 10000;
    &.active {
        opacity: 1;
        display: grid;
    }

    .create-collection__form {
        margin: 0 auto;
        padding: 100px 80px 60px;
        min-height: 500px;
        min-width: 800px;
        background-color: #fff;
        border-radius: 20px;
        font-family: 'Arial';

        .header {
            font-size: 20px;
            border-bottom: 1px solid #ccc;
            padding-bottom: 10px;
            padding-left: 4px;
        }

        .input-field {
            display: flex;
            flex-direction: column;
            font-size: 18px;
            margin: 10px 0;

            .inp {
                width: 100%;
                margin: 10px 0;
                padding: 10px 20px;
                font-size: 18px;
                border-radius: 10px;
                border: 2px solid #ccccccec;
                color: rgba(30,30,30,0.9);
                &:focus {
                    border: 2px solid #30a3ca79;
                    outline: 2px solid #87e1fe;
                }
            }
            textarea {
                min-height: 200px;
                resize: vertical;
            }

            &.button-group {
                display: flex;
                flex-direction: row;

                button {
                    border-radius: 15px;
                    border: 1px solid #ccc;
                    font-size: 20px;
                    color: #444;
                    
                    width: max-content;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;

                    padding: 16px 24px; 
                    background-color: #87e1fe;
                    letter-spacing: 0.035em;
                    margin-right: 20px;
                    margin-top: 10px;
                }
                .cc-cancel {
                    background: #ddd;
                }
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    #app .interface {
      display: none;
    }
}
@media screen and (min-width: 800px) {
    .menu{
        transform: translateX(0);
        opacity: 1;
    }
}
@media screen and (min-width: 600px) {
    .dashboard .dashboard__header{
        display: flex;     
        align-items: flex-end;
        justify-content: space-between;
    }
}