:root {
  --success-green: #70f09f;
  --benched-blue: #9be8f7;
  --overlay-blue: linear-gradient(rgb(182, 243, 248),rgb(130, 221, 246));;
  --offwhite: #a0a0a0;
  --darkmode-background: #02041d;
  --background: var(--darkmode-background)
  --green: rgb(9, 161, 75);
  --current-hex: #fff;
  --main-clr__light: #333;
  --sub-clr__light: #333;
  --font-clr__light: rgba(20, 20, 21, .9);
  --background-main: #fff;
}
