:root {
    --sidebar_width: 64px;
    --sidebar_background: white;
    --sidebar_shadow:  -2px 4px 8px 2px rgba(128, 128, 128, 0.0392);

    --interface_width: 363px;
    --interface_background: white;
    --interface_shadow: 2px 4px 8px 2px rgba(128, 128, 128, 0.192);
    
    --margin: 8px;
    --border-radius__default: 8px;

    --current-sat: 0%;
    --current-light: 100%;
    --current-opac: 1;
    --current-huePCT: 0;
    --current-hue: 216deg;
    --current-color: hsla(var(--current-hue),var(--current-sat),var(--current-light),var(--current-opac));
    --current-hex: #fff;

    --cp--width: 180px;
    --cp-pointer--width: calc(var(--cp--width) * .1);
    --cp-pointer--pos: calc(0deg + var(--current-hue));
    --context-y: 0;
    --context-x: 0;

    --variable-height: 24px;
    --varibale-width: 24px;

    --sidebar_width: 64px;
    --sidebar_background: white;
    --sidebar_shadow:  -2px 4px 8px 2px rgba(128, 128, 128, 0.0392);
  
    --main-clr__light: #333;
    --sub-clr__light: #333;
    --font-clr__light: rgba(20, 20, 21, .9);
  
    --success-green: #70f09f;
    --benched-blue: #9be8f7;
    --overlay-blue: linear-gradient(rgb(182, 243, 248),rgb(130, 221, 246));;
    --offwhite: #a0a0a0;
    --background: var(--darkmode-background)
    --green: rgb(9, 161, 75);
    --current-hex: #fff;
    --main-clr__light: #333;
    --sub-clr__light: #333;
    --font-clr__light: rgba(20, 20, 21, .9);
    --background-main: #fff;
    --background-dark: #000107;
    --background-neutral: #f9f9f9;
    --darkmode-background: #02041d;
  
    --preview-black: var(--darkmode-background);
    --preview-grey: #f9f9f9;
    --svg-background: #fff;
}