.hex-editor {
    border: 1px solid rgba(211, 211, 211, 0.5293);
    box-shadow: 0px 0px 4px 1px rgba(211, 211, 211, 0.5893),
                inset 0px 0px 2px 0px rgba(211, 211, 211, 0.2893);
    border-radius: 16px;
    position: absolute;
    top: 0;
    left: 100%;
    padding-bottom: 10px;
    margin: 16px;
    margin-top: 0;
    display: inline-flex;
    flex-direction: column;
    padding: 10px;
    transition: opacity 700ms ease 50ms, transform 200ms ease;
    background: #fff;
    height: max-content;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    &.active {
        opacity: 1;
        pointer-events: all;
        visibility: visible
    }
    &.bw-active {
        transform: translateX(80px);
    }
    .canvas {
        --hue: var(--current-hue);
        box-shadow: 0px 0px 4px 1px rgba(211, 211, 211, 0.7893),
                    inset 0px 0px 2px 0px rgba(211, 211, 211, 0.2893);
        border-radius: 8px;
        position: relative;
        height: 200px;
        width: 200px;
        background: hsla(var(--hue), 100%, 50%);
        &:before {
            content: "";
            position: absolute;
            z-index: 1;
            inset: 0;
            background: linear-gradient(to right, white 0%, rgba(255,255,255,0) 100%);
        }
        &:after {
            content: "";
            position: absolute;
            z-index: 2;
            inset: 0;
            background:linear-gradient(to bottom, rgba(0,0,0,0) 0%, black 100%);
        }
    }
    .cp-canvas--pointer {
        --x: 0;
        --y: 0;
        position: absolute;
        width: 16px;
        border-radius: 50%;
        z-index: 100;
        background: var(--current-color);
        border: 1px solid white;
        transform: translate(calc(var(--x) - 8px),calc(var(--y) - 8px));
        height: calc(var(--cp--width) * .08 + 4px);
        width: calc(var(--cp--width) * .08 + 4px);
        border: 1px solid #0000;
        box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.253), -.125em 0 .25rem #0000002c, inset 1px 0 0 -1px #00000006, inset 0 0 5px #e8e8e828, inset 0 0 2px #00000008;
        aspect-ratio: 1;
    }
    .hue-bar {
        padding: 10px;
        width: 198px;
        height: 20px;
        position: absolute;
        bottom: -40px;
        left: 12px;
        background-color: black;
        background: -moz-linear-gradient(left, #fa1e1e, #fa431e, #fa681e, #fa8c1e, #fab11e, #fad61e, #fafa1e, #d6fa1e, #b1fa1e, #8cfa1e, #68fa1e, #43fa1e, #1efa1e, #1efa43, #1efa68, #1efa8c, #1efab1, #1efad6, #1efafa, #1ed6fa, #1eb1fa, #1e8cfa, #1e68fa, #1e43fa, #1e1efa, #431efa, #681efa, #8c1efa, #b11efa, #d61efa, #fa1efa, #fa1ed6, #fa1eb1, #fa1e8c, #fa1e68, #fa1e43, #fa1e1e);
        border-radius: 8px;
        border: 0;
        align-items: center;
        display: flex;
        margin-top: 10px;
        border: 1px solid #0000001f;
        box-shadow: 0px 1px 6px 0px rgba(175, 175, 175, 0.417);
        box-shadow: 0 0 12px -1px #3a3a3a59, 0 0 2px 1px #3a39392f;
        .hue-thumb {
            --layer: linear-gradient(-60deg, white, #f0f0f0 70%);
            height: calc(var(--cp--width) * .08 + 4px);
            aspect-ratio: 1;
            box-sizing: border-box;
            background: #fff;
            background: #f9f9f9;
            border: 1px solid #0000;
            border-radius: 50%;
            position: absolute;
            box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.205), -.125em 0 .25rem #0000003f, inset 1px 0 0 -1px #00000006, inset 0 0 5px #e8e8e828, inset 0 0 2px #00000008;
        }

        &::after {
            inset: -10px;
            position: absolute;
            top: -10px;
            left: -10px;
            content: "";
            background-color: white;
            z-index: -1;
            border-radius: 8px;
            box-shadow: 0px 1px 6px 0px rgba(175, 175, 175, 0.417);
            box-shadow: 0 0 8px -1px #29292959, 0 0 2px 1px #1414142f;
        }
    }
}
