<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modals</title>
    <link rel="stylesheet" href="/styles/modals.css">
</head>
<body>
    <div class="modal-menu modal-md">
        default menu
    </div>
    <div class="modal-menu modal-sm">
        small menu
    </div>
    <div class="modal-menu modal-vert">
        vertical default
    </div>
    <div class="modal-menu modal-vert--sm">
        vertical small
    </div>
    <div class="modal-menu modal-vert--lg">
        vertical large
    </div>

</body>
</html>