%elevation-0,
.elevation-0 {
    border: 1px solid rgba(20, 20, 20, 0.05);
}

%elevation-1,
.elevation-1 {
    border: 1px solid rgba(80, 80, 80, 0.47);
}

%elevation-2,
.elevation-2 {
    box-shadow: 0 0 2px 1px rgba(20, 20, 20, 0.0727);
}

%elevation-3,
.elevation-3 {
    box-shadow: 0 0 1px 1px rgba(52, 52, 52, 0.09), 0 0 6px 1px rgba(26, 26, 26, 0.013);
}

%elevation-4,
.elevation-4 {
    box-shadow: 0px 0px 7px -4px rgba(27,31,35, 0.412), 
                0px 0px 0px 1px rgba(27,31,35, 0.025), 
                0 2px 10px 0 rgba(27,31,35,.0128), 
                0 1px 2px 0 rgba(27,31,35,.1);
}

%elevation-5,
.elevation-5 {
    box-shadow: 0 2px 10px 0 rgba(27,31,35,.08), 0 1px 2px 0 rgba(27,31,35,.1);
    &:hover {
        box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1), 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
    }
}

%elevation-6,
.elevation-6 {
    border: 1px solid rgba(20, 20, 20, 0.05);
    box-shadow: 0px 2px 4px 1px rgba(126, 126, 126, 0.139);
}

%elevation-9,
.elevation-9 {
    box-shadow: 0px 2px 4px 1px rgba(126, 126, 126, 0.139);
    &.overlayed {
        box-shadow: 0px 2px 4px 1px rgba(126, 126, 126, 0.139),
        2px 4px 20px 4px rgba(180, 180, 180, 0.139),
        2px 4px 40px -4px rgba(180, 180, 180, 0.39);
    }
}


body {
    display: flex;
    flex-wrap: wrap;
    gap: 64px;
    padding: 40px;
}

.modal-menu {
    background: white;
    border-radius: 10px;
    @extend %elevation-9
}

.modal-md {
    width: 350px;
    height: 375px;
}

.modal-sm {
    width: 350px;
    height: 200px;
}

.modal-vert {
    height: 350px;
    width: 250px;
    &--lg {
        width: 275px;
    }
    &--sm {
        height: 300px;
        width: 240px;
    }
}