// @import '../shapes/modals.scss';
@import 'cosm';
$sidebar_width: 58px;
$sidebar_background: white;
$sidebar_shadow: -2px 4px 8px 2px rgba(128, 128, 128, 0.0392);
$border-radius__default: 8px;
$interface_width: 363px;
$interface_background: white;
$interface_shadow: 2px 4px 8px 2px rgba(128, 128, 128, 0.192);
$sidebar-container-width: 58px;
$searchbar-container-height: 124px;
$searchbar-container-width: 350px;
$searchbar-input-height: 64px;
$searchbar-input-width: 250px;
$tab-button-radius: .5em;
$tab-button-active-shadow:  0px 0px 7px -4px rgba(27,31,35, 0.412),
                            0px 0px 0px 1px rgba(27,31,35, 0.025),
                            0 2px 10px 0 rgba(27,31,35,.0128),
                            0 1px 2px 0 rgba(27,31,35,.1);
$sb-background: hsla( 0deg, 0%, 100%, 85%);

.tab.theme {
    display: none;
}

.menu {
    display: flex;
    z-index: 100;
    position: absolute;
    inset: 0;
    background-color: transparent;

    &.active {
        .menu-item {
            opacity: 1;
            transform: translate(0);
            color: #b4b4b4;
            transition: transform 400ms ease, color 500ms ease-in-out, opacity 120ms ease;
            &:hover,
            &.active {
               color: white;
               color: $border-super-light;
        
            }
          }

    }
}

.nav-list {
    margin-top: 120px;
    margin-left: 80px;
}

.menu-item {
    font-family: arial;
    font-size: 24px;
    color: $font-clr-light;
    margin-top: 40px;
    cursor: pointer;
    transition: color 400ms ease;
    overflow: hidden;
    opacity: 0;
    transform: translateY(30px);
    transition: transform 200ms ease, color 200ms ease-in-out, opacity 80ms ease;
    // color: $border-super-light;
    // .menu-label {
    //     transition: transform 120ms ease 300ms;
    //     opacity: 0;
    // }

}

.menu-modals {
    height: 400px;
    width: 400px;
    // border: 1px solid red;
    margin-top: 120px;
    margin-left: 40px;
    .menu-modal.active > .menu-list {
        transition: transform 600ms ease, color 600ms ease, opacity 120ms ease;
        transition-delay: 300ms;
        transform: translateY(30px) translateX(0);
        opacity: 1;
    }
    .menu-modal {
        position: absolute;
        height: 300px;
        width: 200px;
        // border: 1px solid black;
    }
    .menu-list {
        // padding-top: 40px;
        padding-left: 40px;
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
        color: $font-clr-light;
        letter-spacing: 0.05em;
        transform: translateY(80px);
        border: 1px solid $border-light;
        padding: 40px;
        border-radius: 40px;
        border-top-right-radius: 15%;
        border-bottom-right-radius: 20%;
        opacity: 0;
        transition: transform 200ms ease, color 300ms ease, opacity 80ms ease;

        &.collections-list {
        // border-radius: 10%;

            transform: translateY(40px) translateX(-20px);
        }
        .menu-list-item {
            margin-top: 20px;
            cursor: pointer;
            transition: color 200ms ease;
            &:hover {
                color: $border-super-light;
            }
        }
        .menu-list-item:first-of-type {
            margin-top: 0;
        }
    }
}
.modal-md {
    width: 350px;
    height: 375px;
}
.modal-menu.modal-sm {
    width: 350px;
    height: 200px;
}
.modal-menu.modal-sm.settings {
    height: 250px;
    transform: translateY(-20px);
}
.modal-menu.modal-lg {
    width: 350px;
    height: 375px;
}
.modal-vert {
    height: 350px;
    width: 250px;
}
.modal-vert--lg, .modal-vert.docs {
    width: 275px;
}
.modal-vert--sm, .modal-vert.categories, .modal-vert.collections {
    height: 300px;
    width: 240px;
}
