.h0 {
  font-size: 600px;
}

.h1 {
  font-size: 144px;
}

.h2 {
  font-size: 72px;
}

.h3 {
  font-size: 36px;
}

.paragraph {
  font-size: 14px;
}

.subtitle {
  font-size: 12px;
}

.textbox {
  width: 700px;
}

html, body {
  position: relative;
  height: 100%;
  width: 100%;
  padding: none;
  margin: 0;
}

html {
  overflow-x: hidden;
}

.content {
  overflow: sc;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, p, input, label, a {
  margin: 0;
  padding: 0;
}

.content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  width: 100%;
}

.content .form, .content .hero {
  position: relative;
  height: 100%;
  width: 50%;
  overflow: hidden;
}

.content .hero {
  width: 400px;
}

.content .form {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 400px;
  margin: 0 auto;
  padding: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.content .form .form-header h1, .content .form .form-header h2 {
  margin: 16px 0;
}

.content .form .form-header h1 {
  font-size: 49px;
  color: #222;
}

.content .form .form-header h2 {
  font-size: 18px;
  font-weight: 400;
  color: #333;
}

.content .form form .inp-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 8px 0;
}

.content .form form .inp-group input, .content .form form .inp-group label {
  margin-top: 4px;
}

.content .form form .inp-group label {
  font-size: 18px;
}

.content .form form .inp-group input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: .5rem;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid rgba(208, 205, 205, 0.788);
  outline: 0;
}

.content .form form .inp-group button {
  background: #222;
  color: white;
  border: 0;
  border-radius: 8px;
  outline: 0;
  margin: 4px 0;
  line-height: 1.5;
  padding: .5em 1.5em;
  font-size: 16px;
  font-weight: 400;
}

.content .form form .inp-group .google {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  color: black;
  border: 1px solid rgba(208, 205, 205, 0.788);
}

.content .form form .inp-group .google .g-text {
  margin-left: 8px;
}

.content .form form .inp-group.remember {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
}

.content .form form .inp-group.remember a {
  color: #006aff;
  font-size: 14px;
  text-decoration: none;
  margin-bottom: 4px;
  white-space: nowrap;
}

.content .form form .inp-group.remember div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .form form .inp-group.remember div label {
  margin-left: 4px;
}

.content .form .form-footer {
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  color: rgba(51, 51, 51, 0.86);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content .form .form-footer a {
  color: #006aff;
  font-size: 14px;
  text-decoration: none;
  margin-bottom: 4px;
  white-space: nowrap;
}

.content .form form, .content .form div {
  width: 100%;
}

.content figure {
  height: 100%;
  width: 440px;
  padding: 0;
  margin: 0;
  background-image: url("/Assets/img/jpg/card/eea-ikeda-3i_a7AIsi1w-unsplash.jpg");
  background-position: -150px 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.content figure .overlay {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.082);
}

.content figure figcaption {
  z-index: 2;
  position: absolute;
  bottom: 5%;
  height: 30%;
  width: 80%;
  left: 10%;
  background: inherit;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-box-shadow: inset 0px 0px 2px 1px rgba(255, 255, 255, 0.733);
          box-shadow: inset 0px 0px 2px 1px rgba(255, 255, 255, 0.733);
}

.content figure figcaption .testimonial {
  position: relative;
  width: 100%;
  height: 100%;
}

.content figure figcaption .testimonial .text-body {
  padding: 16px;
  font-size: 18px;
  font-size: 700;
  letter-spacing: .015ch;
}

.content figure figcaption .testimonial .author {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 16px;
  font-size: 14px;
  color: ghostwhite;
}

.content figure figcaption .testimonial .author div {
  margin-bottom: 4px;
}

.content figure figcaption .testimonial .author .name {
  font-size: 18px;
}

.content figure figcaption .testimonial .author .company {
  font-size: 12px;
  font-weight: 400;
}

.content figure figcaption .testimonial .author .title {
  font-size: 12px;
  font-weight: 400;
}

.content figure figcaption .testimonial .author .rating {
  position: absolute;
  top: 0;
  right: 5%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content figure figcaption .testimonial .author .rating svg {
  fill: #ffe600;
}

.content figure figcaption .testimonial .slide-btns {
  position: absolute;
  right: 5%;
  bottom: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90px;
}

.content figure figcaption .testimonial .slide-btns div {
  background: transparent;
  border: 1px solid whitesmoke;
  -webkit-box-shadow: 0px 0px 2px 1px rgba(255, 255, 255, 0.342);
          box-shadow: 0px 0px 2px 1px rgba(255, 255, 255, 0.342);
  height: 28px;
  width: 28px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content figure figcaption .testimonial .slide-btns div svg {
  -webkit-transform: translateX(1px);
          transform: translateX(1px);
  fill: white;
}

.content figure figcaption .testimonial .slide-btns .btn-back {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.content figure figcaption .testimonial .slide-btns .btn-back svg {
  -webkit-transform: translate(2px -1px);
          transform: translate(2px -1px);
}

.content figure figcaption::after {
  content: "";
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: inherit;
  z-index: -1;
  border-radius: inherit;
  -webkit-box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.3);
          box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.3);
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

@media (max-width: 700px) {
  .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .content .form {
    height: 896px;
  }
  .hero {
    display: none;
  }
}

@media (min-width: 1020px) {
  .form {
    width: 600px;
  }
  .form div, .form form {
    width: 100%;
  }
}
/*# sourceMappingURL=blackwhite.css.map */