html, body {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h2 {
  margin: 0;
}

html {
  overflow-x: hidden;
}

body {
  top: 0;
}

.hero {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  height: 100vh;
  width: 100%;
}

.hero-content {
  position: relative;
  z-index: 1000000;
  color: white;
  height: 100%;
  width: 50%;
}

.hero-content .content-header {
  padding-left: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.hero-content .content-header h2 {
  font-size: 14px;
  color: #82868a;
  font-weight: 600;
}

.hero-content .login {
  padding-left: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-content .login h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #82868a;
}

.hero-content .login a {
  margin-left: 8px;
  text-decoration: none;
}

.hero-content .content-header, .hero-content .login {
  -webkit-transform: translateY(50pt);
          transform: translateY(50pt);
}

.hero-content .form {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 50%;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 20pt;
  -webkit-transform: scale(0.8) translate(-80pt, 50pt);
          transform: scale(0.8) translate(-80pt, 50pt);
}

.hero-content .form label {
  position: relative;
  height: 30%;
  padding-left: 18px;
  color: #adb5bd;
}

.hero-content .form input {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: transparent;
  border: 0;
  outline: none;
  height: 70%;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  font-size: 18px;
  padding: .5em 0 .5em 1em;
  color: white;
}

.hero-content .form input:-webkit-autofill, .hero-content .form input:-webkit-autofill:focus {
  -webkit-transition: background-color 600000s 0s, color 600000s 0s;
  transition: background-color 600000s 0s, color 600000s 0s;
}

.hero-content .form .inp-group {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #3a3f53;
  padding: .5em;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10pt 0;
  border-radius: 16px;
}

.hero-content .form .inp-group:focus-within {
  border: 2px solid rgba(81, 235, 255, 0.5);
  -webkit-box-shadow: inset 0px 0px 4px 2px rgba(18, 235, 255, 0.437);
          box-shadow: inset 0px 0px 4px 2px rgba(18, 235, 255, 0.437);
}

.hero-content .form .name-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.hero-content .form .name-row .name {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  gap: 5%;
}

.hero-content .form .email, .hero-content .form .password {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.hero .btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin-top: 16px;
}

.hero .btn-group button {
  background: white;
  color: black;
  border-radius: 32px;
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  padding: 1em 2em;
  line-height: 2;
  background-color: #3a3f53;
  border: 0;
  -webkit-box-shadow: 0px 2px 15px -5px rgba(4, 223, 252, 0.15);
          box-shadow: 0px 2px 15px -5px rgba(4, 223, 252, 0.15);
}

.hero .btn-group button:last-of-type {
  background: rgba(0, 255, 255, 0.87);
}

@media (max-width: 1020px) {
  .hero .hero-content {
    width: 100%;
  }
}

@media (max-width: 550px) {
  .hero .name-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero .name-row .name {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("https://images.unsplash.com/photo-1645133111972-58727bd5be87?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nzl8fG1vdW50YWlucyUyMDUwbW18ZW58MHx8MHx8&auto=format&fit=crop&w=600&q=60");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  -webkit-filter: brightness(60%);
          filter: brightness(60%);
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at top right, transparent, #272a3713 10%, #272a3760 30%, #272a37cb 50%), linear-gradient(45deg, #272a37 50%, #272a37a8 65%, transparent);
}
/*# sourceMappingURL=camp.css.map */