html {
  height: 100%;
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}

.px-viewport-dimensions {
  display: none !important;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}

footer {
  display: block;
  position: relative;
  bottom: 0;
  height: 25vh;
  width: 100vw;
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.gallery {
  overflow: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.item-wrapper {
  margin: 10px 10px 10px 0;
  width: 32%;
}

.item-wrapper .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 250px;
  width: 100%;
  background-color: rgba(204, 39, 39, 0.473);
}

.item-wrapper .image img {
  height: 150px;
  width: 150px;
}

.item-wrapper .description {
  margin: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.item-wrapper .description span {
  margin: 1px 0;
}

.main {
  background-color: wheat;
  height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  position: relative;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
      grid-template-areas: "head head head head" "side gallery gallery gallery" "side gallery gallery gallery" "side gallery gallery gallery";
}

.main .head {
  background-color: white;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: head;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .head > div {
  padding: 10px 15px;
}

.main .navigation {
  height: 25%;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid rgba(128, 128, 128, 0.48);
}

.main .titles {
  position: relative;
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 28pt;
}

.main .tools {
  border-bottom: 1px solid rgba(128, 128, 128, 0.481);
}

.main .tools .sorting-tools {
  width: 20%;
}

.main .sb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .sidebar {
  overflow: scroll;
  background-color: white;
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: side;
  padding: 0 15px 10px 15px;
}

.main .sidebar .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: block;
  margin: 5px 0;
}

.main .sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main .sidebar .categories {
  position: relative;
}

.main .sidebar .categories li {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 5px 10px 0;
  border-top: 1px solid rgba(128, 128, 128, 0.188);
}

.main .sidebar .categories li ul {
  display: none;
}

.main .gallery {
  background-color: white;
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: gallery;
}
/*# sourceMappingURL=gridGallery.css.map */