html, body {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}

html a, body a {
  color: inherit;
  text-decoration: none;
}

html ul, body ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

html *, body * {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  font-family: inherit;
}

body {
  height: 10000px;
}

.wrapper {
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.wrapper.seen {
  -webkit-transform: translateY(-3.2em);
          transform: translateY(-3.2em);
}

.banner-blue {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em 1.5em;
  background: #006eca;
  line-height: 1em;
}

.features::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100vw;
  width: 200vw;
  height: 100%;
  background: white;
  z-index: -1;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.features:hover::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
}

.features:hover::before {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.navbar-light {
  position: fixed;
  width: 100%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 8px;
}

.navbar-light nav {
  margin: 0 1.5em;
  padding: 1em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-light nav .nav-links-light {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-light nav .nav-links-light li {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 1.5em;
  padding: 1.5em 2em .5em 2em;
}

.navbar-light nav .nav-links-light li .btn-float-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  float: right;
  width: 24px;
  -webkit-transform: rotate(180deg) translate(0, 0) scale(0.8);
          transform: rotate(180deg) translate(0, 0) scale(0.8);
  -webkit-transition: 150ms ease;
  transition: 150ms ease;
  color: #006eca;
}

.navbar-light nav .nav-links-light li .border {
  position: absolute;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  bottom: 0;
  left: 10%;
  width: 80%;
  height: 2px;
  background: #006eca;
  border-radius: 1px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: 250ms ease-in-out;
  transition: 250ms ease-in-out;
}

.navbar-light nav .nav-links-light li .hover-light {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  top: 140%;
  left: -200px;
  min-width: 600px;
  min-height: 400px;
  border-radius: 6px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.34) 0px 3px 8px, inset rgba(10, 37, 64, 0.05) 0px 0px 10px 0px;
          box-shadow: rgba(0, 0, 0, 0.34) 0px 3px 8px, inset rgba(10, 37, 64, 0.05) 0px 0px 10px 0px;
  background: white;
  -webkit-transform: translateY(10%);
          transform: translateY(10%);
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 1.5em;
}

.navbar-light nav .nav-links-light li .hover-light .hover-light-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: .5em .5em 1em 2.5em;
  font-size: 18px;
  font-size: 300;
}

.navbar-light nav .nav-links-light li .hover-light .hover-light-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar-light nav .nav-links-light li .hover-light .hover-light-links .col-1 {
  padding: 1em;
  padding-left: 1.5em;
}

.navbar-light nav .nav-links-light li .hover-light .hover-light-links .col-2 {
  padding: 1em;
  padding-right: 1.5em;
}

.navbar-light nav .nav-links-light li .hover-light .hover-light-links .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 400px;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-top: 0;
}

.navbar-light nav .nav-links-light li .hover-light .hover-light-links .col .row:hover {
  background: rgba(0, 0, 0, 0.0644);
}

.navbar-light nav .nav-links-light li .hover-light .hover-light-links .col .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1em;
  border-radius: 8px;
}

.navbar-light nav .nav-links-light li .hover-light .hover-light-links .col .row .row-icon {
  position: relative;
  min-height: 45px;
  max-height: 45px;
  min-width: 45px;
  max-width: 45px;
  border-radius: 6px;
  background: whitesmoke;
  -webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.19), 0px 0px 35px 0px rgba(0, 0, 0, 0.096);
          box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.19), 0px 0px 35px 0px rgba(0, 0, 0, 0.096);
  margin-right: 1em;
}

.navbar-light nav .nav-links-light li .hover-light .hover-light-links .col .row .row-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.navbar-light nav .nav-links-light li .hover-light .hover-light-links .col .row .row-text .row-title {
  font-size: 18px;
  margin: 0 1em 1em 0;
}

.navbar-light nav .nav-links-light li .hover-light .hover-light-links .col .row .row-text .row-desc {
  font-size: 14px;
}

.navbar-light nav .nav-links-light li .hover-light .hover-light-footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  white-space: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5em;
  background: whitesmoke;
}

.navbar-light nav .nav-links-light li .hover-light .hover-light-footer .footer-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar-light nav .nav-links-light li .hover-light .hover-light-footer .footer-text-title {
  font-size: 18px;
}

.navbar-light nav .nav-links-light li .hover-light .hover-light-footer .footer-text-desc {
  font-size: 14px;
}

.navbar-light nav .nav-links-light li .hover-light .hover-light-footer .footer-text div {
  padding: .5em;
}

.navbar-light nav .nav-links-light li .hover-light .hover-light-footer .footer-button {
  padding: .75em;
  margin: 1em;
  -webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.19), 0px 0px 35px 0px rgba(0, 0, 0, 0.096);
          box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.19), 0px 0px 35px 0px rgba(0, 0, 0, 0.096);
  border-radius: 4px;
  background: white;
}

.navbar-light nav .nav-links-light li:hover .border {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.navbar-light nav .nav-links-light li.features:hover .btn-float-right {
  -webkit-transform: rotate(180deg) translate(0, -3px) scale(0.8);
          transform: rotate(180deg) translate(0, -3px) scale(0.8);
}

.navbar-light nav .nav-links-light li.features:hover .hover-light {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
/*# sourceMappingURL=lightTheme.css.map */