<div class="modal create-collection">
    <div class="close">close</div>
    <div class="create-collection__form">
        <div class="header">Create a new collection</div>
        <form id="cc" action="">
            <div class="input-field">
                <div class="label">Name</div>
                <div class="input">
                    
                    <input type="text" class="inp name" id="cc-name">
                </div>
            </div>
            <div class="input-field">
                <div class="label">Description(optional)</div>
                <div class="input">
                    <textarea class="inp" name="description" id="cc-description"></textarea>
                </div>
            </div>
            <div class="input-field button-group">
                <button class="cc-button">Create Collection</button>
                <button class="cc-cancel" type="reset">Cancel</button>
            </div>
        </form>
    </div>
</div>