.widget-pre {
  padding-right: 20px;
  padding-top: 50px;
}
  .widget {
      position: relative;
      color: $font-clr-2;
      font-family: Arial, Helvetica, sans-serif;
      height: 100px;
      font-size: 14px;
      width: 100%;
      margin-top: 24px;
      border-radius: 12px;
      cursor: pointer;
      border: 1px solid rgba(132, 132, 132, 0.1);
      box-shadow: 0px 1px 3px 0px rgba(128, 128, 128, 0.092), -1px 0px 3px 0px rgba(128, 128, 128, 0.0392);
                  // inset -1px 0px 3px 0px rgba(128, 128, 128, 0.02), inset -1px 0px 3px 0px rgba(128, 128, 128, 0.01392);
      box-shadow:  0px 0px 7px -4px rgba(27,31,35, 0.012),
      0px 0px 0px 0px rgba(27,31,35, 0.025),
      // 0 2px 10px -4px rgba(27,31,35,.0128),
      inset -2px 0px 1px 1px rgba(171, 171, 171, 0.012), inset -1px 0px 2px 0px rgba(189, 189, 189, 0.01),
      0px 1px 4px 0px rgba(27,31,35,.0125);

      &:hover {

        .widget-header {
          border-bottom: 1px solid $border-super-light;
          background: linear-gradient(to left,transparent,#c9c9c907);
          background: #ededed19;
          border-top-right-radius: inherit;
          border-top-left-radius: inherit;
            .widget-title {
              transform: translateY(0);
              opacity: 1;
            }
          }
        .widget-content {
          .tggle-open,.tggle {
            background: radial-gradient(#cacaca06 50%,#e2e2e205);
            border: 1px solid rgba(182, 182, 182, 0.177);
  
          }
        }

        .widget-preview-icon__wrapper {
          opacity: .8;
          transform: translateY(0);
          transition: opacity 80ms ease, transform 200ms ease;
        }
      }
      .widget-header {
        transition: background 200ms ease;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        // height: 22px;
        padding-top: 4px;
        padding-bottom: 4px;
        border-bottom: 1px solid transparent;
        overflow: hidden;
        .btn-min {
          border-radius: 4px;
          margin-right: 16px;
          border: 1px solid $border-super-light;
          width: 24px;
          height: 12px;
          @include flex-center();
          svg {
            stroke: $font-clr-light;
          }
        }
        .widget-title {
          margin-left: 30px;
          opacity: .62;
          letter-spacing: 0.06em;
          font-size: 12px;
          color: $font-clr-light;
          transform: translateY(-20px);
          opacity: 0;
          transition: transform 250ms ease, opacity 120ms ease;
          @include flex-center();
        }
    
      }

      .widget-toggles {
        display: flex;
        align-items: center;
        color: #888;

        .tggle {
          border-radius: 6px;
          border: 1px solid $border-light;
          padding: 2px 6px;
          margin-top: 4px;
          white-space: nowrap;
          color: #555;
          transition: border-color 80ms ease, color 120ms ease;
          .icon-label {
            position: absolute;
            margin-top: 1px;
          }
        }
        .tggle-icon {
          height: 30px;
          width: 30px;
          border-radius: 30px;
          border: 1px solid $border-light;
          margin-left: 10px;
          @include flex-center
        }
      }

      .widget-preview-icon {
        overflow: hidden;
        @include flex-center();
        &__wrapper {
          // transition: 80ms ease;
          // transform: translateY(20px);
          opacity: .7;
          svg {
            height: 20px;
            width: 20px;
          }
        }
      }
  
}
.widget.pinned-widget {
      height: 180px;
  }
.preview-widget {
  height: 120px;
  &:hover .widget-content {
    transform: translateY(-4px);
  }
  .widget-content {
    display: flex;
    padding-left: 10px;
    margin-top: 18px;
      transform: translateY(-14px);
      transition: 200ms ease;
  }
  .wp-info {
    display: flex;
    padding-right: 10px;
    margin-left: 8px;
    letter-spacing: 0.05em;

  }
  .widget-toggles {
    display: flex;
    align-items: center;
    .copy-icon svg {
      stroke: #888;
    }
    .color-icon svg {
      fill: #454545;
    }
    .tggle-open {
      border-radius: 6px;
      border: 1px solid $border-light;
      padding: 2px 6px;
      margin-top: 4px;
      white-space: nowrap;
      color: #555;
      transition: border-color 80ms ease, color 120ms ease;
      > div {
        scale: .9;
      }
      .icon-label {
        position: absolute;
        margin-top: 1px;
      }
    }
    .tggle {
      height: 30px;
      width: 30px;
      border-radius: 30px;
      border: 1px solid $border-light;
      margin-left: 10px;
      @include flex-center
    }
  }
  .widget-preview-info {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: 300;
    margin-left: 12px;
    .wp-label {
      color: #656565c5;
      margin-left: 4px;
    }


    .widget--icon-category {
      margin-top: 2px;
    }

  }
  .info-label > div {
    letter-spacing: 0.08em;
    transform: translateX(-10px) scale(.9);
  }
  .widget-preview-icon {
    height: 64px;
    width: 64px;
    border-radius: 8px;
    border: 1px solid $border-light;
    .widget-preview-icon__wrapper {
      border: 1px solid transparent;
    }
    &:hover .widget-preview-icon__wrapper {
      // border: 1px solid $border-light;
    }
  }
  .widget-snackbar {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;

    .snackbar-btn {
      height: 24px;
      width: 24px;
      border-radius: 30px;      
      border: 1px solid $border-light;
      margin-right: 8px;
      @include flex-center();
      margin-bottom: 4px;
    }
    .widget-preview-snackbar {
      display: flex;
      justify-content: flex-end;
      margin-right: 4px;
    }
  }
}
.bench-widget {
  height: 85px;

  &:hover {
    .widget-content {
      transform: translateY(-4px) scale(.95);
    }
    .bench-preview-count {
      opacity: .9;
    }
    .widget-toggles {
      transform: translateY(-2px);
      scale: .95;
    }
    .bench-preview-icons {
      opacity: 1;
    }

}
  .widget-content {
    transition: transform 200ms ease;
    transform: translate(-40px,-16px) scale(.95);
    
    display: flex;
    
  }
  .bench-preview-icons {
    width: 80px;
    opacity: 0;
    border-right: 1px solid $border-light;
    border-radius: 80px;
    transform: translateX(-12px) translateY(8px);
    scale: .9;
    &:after {
      content: "";
      position: absolute;
      inset: 0;
      background: linear-gradient(-45deg,rgba(255, 255, 255, 0.15) 10%,transparent);
      z-index: 100;
      border-radius: inherit;
    }
    .bp-icon-wrapper {
      transform: translateX(8px);
      margin-top: 8px;
      margin-left: 24px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      overflow: hidden;
      .bp-icon {
        height: 20px;
        width: 20px;
        opacity: .5;
        @include flex-center();
      }
    }

    svg {
      height: 10px;
      width: 10px;
    }
  }
  .bench-preview-count {
    opacity: .7;
    font-size: 14px;
    color: $font-clr-light;
    margin-top: 8px;
    @include flex-center();

  }
  .widget-toggles {
    margin-left: 6px;
    @include flex-center();
    transform: translateY(2px);
    transition: 200ms ease;

    .tggle {
      margin-right: 8px;
    color: $font-clr-light;

    }
  }
  .divider {
    fill: #8c8c8c;
    margin: 0px 4px;
  }
}
.pinned-widget{
  &:hover .widget-content {
    transform: translateY(16px);
  }
  .widget-content {
    transition: 200ms ease;
  }
  .content-header {
    margin-left: 24px;
    display: flex;
  }
  div.pinned-icon {
    transform: scale(.8);
    opacity: .9;
    stroke: #777;
  }
  .pinned-preview {
    opacity: .6;
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    margin-left: 24px;
    margin-top: 18px;
    .bp-icon {
      height: 20px;
      width: 20px;
      margin: 4px;
    }
    svg {
      height: 16px;
      width: 16px;
    }
  }
}
.activity-widget {
  height: 80px;
  .divider svg {
      fill: $font-clr-light;
  }
  .widget-content {
    margin-top: 12px;
    padding-left: 24px;
    color: $font-clr-light;
    scale: .9;
    display: flex;
    align-items: center;
  }
  .btn-scan {
    margin-left:48px;
    width: 80px;
    text-align: center;
    padding: 4px 20px;
    border-radius: 8px;
    border: 1px solid $border-light;
    @include flex-center();
  }
}
