$main-copy: 16px;
$sm-copy: 14px;
$header-sub: 20px;
$header: 25px;
$header-lg: 31px;
$header-xl: 39px;
$title: 49px;
$title-lg: 62px;
$title-xl: 76px;
$word-len: 4.7em;

a {
    text-decoration: none;
    color:  rgba(128, 236, 255, 0.851);
}

input[type="checkbox"] {
    color:  #008acab9;
}
.title {
    font-size: $title;
}

.sub-heading {
    font-size: $header;
}

.small-copy {
    font-size: $sm-copy;
}

.copy {
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: $header-sub;
    width: calc($word-len * 4);
}

.heading {
    font-weight: bold;
    font-size: $header-xl;
}

.hero-copy .copy {
    font-weight: bold;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    box-sizing: border-box;
    position: relative;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background: #333;
}
.hero {
    position: relative;
    background-color: #222;
    color: white;
    box-sizing: border-box;
    width: 25%;
    height: 100%;
    z-index: 100;
    box-shadow: 0px 0px 2px 2px rgba(255, 255, 255, 0.26);
    // overflow: hidden;
}

.hero-copy {
    box-sizing: border-box;
    padding: 1rem 3em 0 3em;
    height: 100%;
    // width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    div {
        box-sizing: border-box;
        margin: 1rem 0;
    }
    .copy {
        display: flex;
        span {
            display: flex;
            justify-content: center;
            text-align: center;
            line-height: 1.5;
        }
    }
}

.design-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
    overflow: hidden;
}
.design-thingy {
    position: absolute;
    bottom: -400px;
    left: -400px;
    width: 500px;
    height: 500px;
    background: transparent;
    border: 1px solid white;
    border-radius: 50%;
    transition: 300ms ease-in-out;
    transform: scale(.95);
}

.form {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0;
    padding-left: 50%;
    // padding-top: 5%;
    padding-right: 15%;
    height: 100%;
    width: 100%;
    white-space: nowrap;
    // transform: scale(.8);
    background: #333;
    z-index: 1;
    box-sizing: border-box;
    color: white;

    .heading {
        margin-top: 2rem;
    }
    
    .title-copy {
        font-size: 41px;
    }

    .sub-copy {
        font-size: 18px;
        color: rgba(219, 219, 219, 0.7);
        margin-top: calc(16px * 1.25 )
    }

    form {
        margin: calc(2rem * 1.25 * 1.25) 0;
        display: flex;
        flex-direction: column;
        input {
            box-sizing: border-box;
            margin: .5rem 0;
            padding: .5em 0 .5em .75em;
            background: transparent;
            outline: 0;
            border: 1px solid grey;
            color: whitesmoke;
            border-radius: 8px;
            font-size: 18px;

            &:focus {
                border-color:  rgb(128, 235, 255);
                // border-width: 2px;
            }
        }   

        .checkbox {
            margin: .5rem 0;
            font-size: 16px;

            input {
                margin-right: 1rem;
            }
        }

        button {
            inline-size:max-content;
            box-sizing: border-box;
            line-height: 1.5;
            padding: .5em 1.5em;
            font-size: 16px;
            outline: 0;
            border: 0;
            border-radius: 8px;
            font-weight: 500;
            letter-spacing: .15ch;
            background-color: whitesmoke;
        }
    }

    .form-footer {
        text-align: center;
        position: relative;
        margin-top: 1rem;
    }
    .form-footer span {

        font-size: 14px;
    }
}

// .b {
//     transform: scale(2);
// }

.c {
    bottom: -150px;
    left: -150px;
    height: 200px;
    width: 200px;
    opacity: .8;
}

.d {
    bottom: -450px;
    left: -450px;
    height: 720px;
    width: 720px;
    opacity: .6;
}

.e {
    bottom: -395px;
    left: -395px;
    height: 620px;
    width: 620px;
    opacity: .5;
}

.f {
    bottom: -590px;
    left: -590px;
    height: 950px;
    width: 950px;
    opacity: .7;
}

.g {
    bottom: -200px;
    left: -200px;
    height: 300px;
    width: 300px;
    opacity: .9;
}

.h {
    bottom: -400px;
    left: -400px;
    height: 600px;
    width: 600px;
    opacity: .85;
}

// .i {
//     height: 58px;
//     width: 58px;
// }

// .j {
//     height: 58px;
//     width: 58px;
// }

@media (max-width: 900px) {
    .form {
        padding-left:35%;

        .title-copy {
            font-size: 25px;
        }

        .sub-copy {
            font-size: 13px;
        }
    }
}
@media (min-width: 900px) {
    .form {
        padding-left: 35vw;
    }
}

@media (max-width: 956px) {
    .copy {
        font-size: 14px;
    }
}


@media (max-width: 850px) {
    .form {
        padding-left: 15%;
    }
    .hero {
        display: none;
    }
}

@media (max-width: 600px) {
    .sub-copy {
        white-space: normal;
        line-height: 1.2;
        text-align: center;
    }
}