:root {
    --sidebar-container-width: 64px;

    --searchbar-container-height: 124px;
    --searchbar-container-width: 350px;
    --searchbar-input-height: 64px;
    --searchbar-input-width: 250px;

    --sb-background: hsla(0,0,100%,.85);
}


/* ----------------------------------------------- */
/* SIDEBAR */
/* ------------------------------------ */

.sidebar-container {
    box-sizing: border-box;
    padding-top: 24px;
    padding-bottom: 24px;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 10000;
    height: 100%;
    width: 64px;
    box-shadow: -2px 4px 8px 2px rgba(128, 128, 128, 0.092);

    background: var(--sb-background);
}

.sidebar {
    display: flex;
}

.sidebar.open {
    width: 384px;
}

.sidebar svg {
    height: 40px;
    width: 40px;
    pointer-events: none;
}

.sidebar.open ~ .btn-close {
    transform: scale(.8) translateY(8.5em);
    opacity: 1;
}

.sidebar-container .icon-set {
    box-sizing: border-box;
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background: blue; */
    border-top: 1px solid rgba(128, 128, 128, 0.1771);
    border-bottom: 1px solid rgba(128, 128, 128, 0.177);
    padding: 32px 0;
    margin: 32px 0;
}

.sidebar-container .icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px 0;
    cursor: pointer;
}

.sidebar-container .icon svg {
    border-radius: .5em;
}

.sidebar-container .icon:hover svg {
    box-shadow: 0px 0px 7px -4px rgba(27,31,35, 0.412),
                0px 0px 0px 1px rgba(27,31,35, 0.025),
                0 2px 10px 0 rgba(27,31,35,.0128),
                0 1px 2px 0 rgba(27,31,35,.1);
    /* box-shadow: 1px 1px 2px 0 rgba(27,31,35,.5); */
    
}

.sidebar-container .search.icon:hover svg, .theme .icon:hover svg {
    box-shadow: none;
}

.sidebar-container .theme svg, .sidebar-container .search.icon svg {
    margin: 0;
}

.sidebar-container > .theme svg {
    transform: translateY(-12px);
}

.theme .sun {
    display: none;
}

/* ----------------------------------------------- */
/* SIDEBAR MENU */
/* ------------------------------------ */

.side-menu {
    position: relative;
    height: calc(100% - var(--search-container-height));
    width: calc(100% - var(--sidebar-container-width));
    margin-top: var(--searchbar-container-height);
    background: var(--sb-background);
    /* background: blue; */
    display: none;
}

.sidebar.open .side-menu[data-state="active"] {
    display: flex;
    flex-direction: column;
}

.side-menu .menu-links {
    list-style: none;
    /* font-size: 24px; */
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    overflow: scroll;
}

.side-menu .menu-header {
    position: relative;
    height: 64px;
    width: 100%;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.647);
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.137); */
    box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.0253);
}
.side-menu ul li {
    box-sizing: border-box;
    margin: 24px 0;
    /* background: blue; */
    line-height: 1.8;
    padding-left: 24px;
    font-size: 24px;
    cursor: pointer;
}

/* ----------------------------------------------- */
/* SEARCH BAR */
/* ------------------------------------ */

.searchbar-passive {
    position: absolute;
    background: transparent;
    height: var(--searchbar-container-height);
    width: var(--searchbar-container-width);
    top: 0;
    left: 0;
    opacity: .5;
    transform: scaleX(0);
    transform-origin: center;
    transition: all 150ms ease;
}

.searchbar-passive input {
    position: absolute;
    height: var(--searchbar-input-height);
    width: var(--searchbar-input-width);
    left: 80px;
    top: 15%;
    font-size: 120%;
    background: rgba(255, 255, 255, 0.336);
    background: #e5e5e5;
    border-radius: 16px;
    padding-left: 16px;
    outline: none;
    border: 0;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.089);
    perspective: 2000px;
    transform:  scale(0) rotateY(-45deg) rotateZ(-5deg);
    transform-origin: left;
    transition: all 150ms ease;
    opacity: 0;
    cursor: default;
}

.searchbar-passive.open, .sidebar.open .searchbar-passive {
    transform: scale(1);
    opacity: 1;
    z-index: 10001;
}

.searchbar-passive.open input, .sidebar.open .searchbar-passive input {
    transform: scale(1);
    opacity: 1;
}

.search.icon {
    z-index: 10000000;
}

/* ----------------------------------------------- */
/* CLOSE BUTTON */
/* ------------------------------------ */

.btn-close {
    position: absolute;
    top: 0;
    margin-left: 400px;
    margin-top: -4em;
    z-index: 1;
    transition: transform 150ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 300ms;
    opacity: 0;
    cursor: pointer;
}
.btn-close svg {
    fill:rgba(255, 255, 255, .67);
}

.sidebar.open .btn-close {
    transform: scale(.8) translateY(8.5em);
    opacity: 1;
}

/* Click Outside Modal */
.cosm {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    opacity: 0;
    background: rgba(128, 128, 128, 0.836);
    pointer-events: none;
    transition: 150ms ease-in;
}

.cosm.open{
    /* background: grey; */
    opacity: 1;
    pointer-events: all;
}