.cosm-search {
  background-color: rgba(0, 0, 0, 0.14);
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 999;
  pointer-events: none;
  opacity: 0;
  backdrop-filter: blur(3px);
  transition: opacity 200ms ease;
  &.active {
      pointer-events: all;
      opacity: 1;
  }
}
.passive-search {
  position: relative;
  z-index: 1000;
  display: none;
  color: rgba(20, 20, 21, .67);
  border-radius: 12px;
  padding: 6px 0px;
  width: 200px;
  // box-shadow: -2px 0px 4px 0px rgba(128, 128, 128, 0.092), -2px 0px 4px 0px rgba(128, 128, 128, 0.0392);
  border: 1px solid rgba(128, 128, 128, 0.1771);
  transition: box-shadow 200ms ease, color 400ms ease;
  svg path{
          fill: rgba(20, 20, 21, .37);
          stroke: rgba(20, 20, 21, .37);
          transition: stroke 300ms ease,fill 300ms ease;
  }
  &.active {
    display: inline-flex;
}
  &:hover {
      box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.127);
      transition: box-shadow 120ms ease, color 400ms ease;
      input {
          color: rgba(20, 20, 21, .62);
      }
      svg path{
          transition: stroke 200ms ease, fill 200ms ease;
          stroke: rgba(20, 20, 21, .62);
          fill: rgba(20, 20, 21, .62);
      }
      box-shadow: 0px 2px 6px -2px rgba(160, 160, 160, 0.052), 0px 1px 3px 0px rgba(128, 128, 128, 0.0392);
  }
  .search-icon {
      position: absolute;
      top: 0;
      left: 0;
      padding-left: 10px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .search-icon svg {
      height: 14px;
      z-index: 1;
  }
  
  input {
      z-index: 2;
      cursor: pointer;
      border-radius: 10px;
      outline: none;
      border: none;
      width: 100%;
      flex:1;
      background-color: transparent;
      padding-left:32px;
      font-size: 16px;
      color: hsl(210,8%,42%);
      color: rgba(20, 20, 21, .47);
      letter-spacing: 0.035em;
      vertical-align: middle;
      line-height: 100%;
  }
}   
.search-modal {
  position: absolute;
  top: calc(100% - 12px);
  left: 40px;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  &.active {
      transition: opacity 300ms ease;
      opacity: 1;
      visibility: visible;
      pointer-events: all;
      .search-input {
          display: flex;
          transition: box-shadow 500ms ease 300ms;
      }
  }

  .search-input {
      display: none;
      position: absolute;
      border-radius: 8px;
      top: -15%;
      padding: 5px;
      width: 240px;
      background-color: white;
      input {
          padding: 5px;
          padding-left: 12px;
          margin-right: 8px;
          border: none;
          outline: none;
      }
      .btn-search {
          border: 1px solid black;
          padding: 5px;
          cursor: pointer;
      }
  }
  .history-wrapper {
      display: none;
      height: 300px;
      width: 400px;
      background-color: white;
      border: 1px solid #ccc;
      border-radius: 8px;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      box-shadow: 0px 4px 8px 1px rgba(59, 59, 59, 0.393), 0px 2px 20px -2px rgba(197, 197, 197, 0.552);
      font-family: Arial, Helvetica, sans-serif;
      font-size: 14px;
      &.active {
          display: flex;
      }
  }
  .result-wrapper {
      position: relative;
      height: 300px;
      width: 720px;
      background-color: white;
      padding: 20px 10px;
      border: 1px solid #ccc;
      border-radius: 8px;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 14px;
      display: none;
      &.active {
          display: flex;
          flex-direction: column;
      }
    .content-wrapper {
        display: flex;
        flex-wrap: wrap;
        height: 100%;
        width: 100%;
        justify-content: flex-start;
        align-content: flex-start;
        overflow: scroll;
    }
    .showcase.svg-wrapper {
        background-color: white;
    }
    .search-header {
        color: rgba(50, 50, 50, 0.94);
        padding-top: 18px;
        padding-right: 8px;
        display: flex;
        .results {
            flex: 1;
            margin-left: 180px;
        }
        .advanced,.close {
            margin-right: 20px;
            cursor: pointer;
            color: rgba(50, 50, 50, 0.87);

        }
    }
    .search-footer {
    }

    .content {
        display: flex;
        overflow: hidden;
        height: 100%;
        width: 100%;
        .bg-image {
            position: absolute;
            left: 260px;
            top:80px;
            // display: none;
            opacity: 0;
            visibility: none;
            pointer-events: none;
            &.active {
                opacity: 1;
                visibility: visible
            }
        }
        .mini-preview {
            position: relative;
            min-width: 200px;
            height: 100%;
            padding-left: 24px;
            margin-right: 24px;
            .notification-banner {
                position: absolute;
                bottom: 0;
                left: 24px;
                width: 100%;
                .notification {
                    transform: translateY(30px);
                    background: var(--success-green);
                    color: var(--font-clr__light);
                    height: 30px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-top-left-radius: 6px;
                }
            }
            .icon-prev {
                height: 64px;
                width: 64px;
            }
            .icon-controls {
                margin: 16px 0;
                display: flex;
                justify-content: flex-start;
                .btn-copy-icon,.btn-edit-icon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 8px;
                    font-size: 16px;
                    border: 1px solid #ccc;
                    padding: 2px;
                    border-radius: 8px;
                    cursor: pointer;
                    width: 50px;
                }
            }
            .title {
                font-size: 18px;
                .highlighted {
                    background-color: rgba(255, 255, 54, 0.881);
                    color: black
                }
            }
        }
    }
    .content-wrapper {
        overflow: scroll;
        height: 100%;
        border-left: 1px solid #ccc;
    }
  }
}
