.list-of-collections.add-to-collection {
    background-color: #fff;
    position: relative;
    padding: 32px 10px;
    padding-bottom: 0;
    width: 100%;
    // border-radius: 12px;
    overflow-y: scroll;
    // min-height: 480px;
    height: 100%;

    .menu-items {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    h2.label {
        text-align: center;
        border-bottom: 1px solid #ddd;
        position: sticky;
        margin: 0 0 10px;
        overflow: visible;
        font-size: 16px;
        line-height: 1;
        padding: 0 0 10px;
        color: #0d0c22;
        font-weight: 500;
        letter-spacing: 0.085em;
    }

    .flex-container {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .list-of-names {
        flex: 1;
        // background-color: #0d0c22;
        width: 100%;
        height: 100%;
        // padding: 10px 20px;
        padding-right: 20px;
        // margin-bottom: 64px;
        overflow: scroll;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .collection-wrapper {
        display: flex;
        flex-direction: column;
        margin: 16px 0;
        width: 100%;
        min-height: 84px;
        padding-top: 8px;
        padding-bottom: 10px;
        // padding-left: 104px; IF IMAGE
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 16px;
        background: #e1e1e1;
        box-shadow: 0px 2px 4px 1px rgba(126, 126, 126, 0.139);
        border: 1px solid rgba(204, 204, 204, 0.0862);
        &.selected {
            background:rgba(119, 198, 255, 0.532);
        }
        .name {
            font-size: 18px;
            line-height: 1.4;
            color: #545454;
            letter-spacing: .0125rem;
            font-weight: bold;
            // color: #0d0c22e0;
        }
        .numberOfIcons {
            // margin-left: 8px;
            margin-top: 4px;
            font-size: 12px;
            font-weight: thin;
            color: #888;
            letter-spacing: 0.05rem;
            .num {
                font-size:18px;
                font-weight: bold;
                color: rgba(255, 127, 80, 0.703);
            }
        }
        .timestamp {
            color: #9e9ea7;
            line-height: 1.2;
            letter-spacing: .05rem;
            .text,
            .stamp {
                font-size: 11px;
            }
            .stamp {
                color: coral
            }
        }
    }
    
}